<!--
    Main listing of Cases
-->

{% extends 'extends/base.html' %}
{% load static %}

{% with home='dashboard:home' %}

{% block tab_title %} VSF - Cases {% endblock tab_title %}

{% block title %} Cases {% endblock title %}

{% block sub_title %}
    List of all available Cases
{% endblock sub_title %}

{% block route %}
    <li class="breadcrumb-item"><a href="{% url list_fastpath %}">Home</a></li>
    <li class="breadcrumb-item active">Cases</li>
{% endblock route %}

{% block content %}

<div class="card mb-4">
  <div class="card-header d-flex align-items-center">
    <h6 class="m-0 font-weight-bold margin-auto mr-auto">All</h6>

    <a href="#" class="btn p-0 mx-0 text-primary" title="Create a new event">
      Create new Case <i class="fas fa-plus"></i>
    </a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Category</th>
            <th>Draft</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Category</th>
            <th>Draft</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% for case in cases %}
          <tr>
            <td>{{case.title}}</td>
            <td>{{case.start_date}}</td>
            <td>{{case.end_date}}</td>
            <td>{{case.category}}</td>
            <td>
              {% if case.draft %}
              <div class="text-success w-100 text-center">
                <i class="fas fa-check"></i>
              </div>
              {% else %}
              <div class="text-danger w-100 text-center">
                <i class="fas fa-times"></i>
              </div>
              {% endif %}
            </td>
            <td>action ?</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
{% block custom_scripts %} {% endblock custom_scripts %}
{% endwith %}
