<!--
    Main listing of categories
-->

{% extends 'extends/base.html' %}
{% load static %}

{% with home='dashboard:home' list_cases='dashboard:case:list_cases' new_category='dashboard:case:new_category'%}

{% block tab_title %} VSF - Categories {% endblock tab_title %}

{% block title %} Categories {% endblock title %}

{% block sub_title %}
    List of all available case categories
{% endblock sub_title %}

{% block route %}
    <li class="breadcrumb-item"><a href="{% url list_fastpath %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url list_cases %}">Cases</a></li>
    <li class="breadcrumb-item active">Categories</li>
{% endblock route %}

{% block content %}

<div class="card mb-4">
  <div class="card-header d-flex align-items-center">
    <h6 class="m-0 font-weight-bold margin-auto mr-auto">All</h6>

    <a
      href="{% url new_category %}"
      class="btn p-0 mx-0 text-primary"
      title="Create a new event"
    >
      Create new category <i class="fas fa-plus"></i>
    </a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Display name</th>
            <th>Display name [English]</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Display name</th>
            <th>Display name [English]</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% for category in categories %}
          <tr>
            <td>{{category.name}}</td>
            <td>{{category.display_name}}</td>
            <td>???</td>
            <td>???</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
{% block custom_scripts %} {% endblock custom_scripts %}
{% endwith %}
