<!--
    form to create a new category
-->
{% extends 'extends/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% with home='dashboard:home' list_cases='dashboard:case:list_cases' list_categories='dashboard:case:list_categories' %}

{% block tab_title %} VSF - New Category {% endblock tab_title %}
{% block title %} New Category {% endblock title %}
{% block sub_title %} Here you can create a new case category {% endblock sub_title %}


{% block route %}
    <li class="breadcrumb-item"><a href="{% url list_fastpath %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url list_cases %}">Cases</a></li>
    <li class="breadcrumb-item"><a href="{% url list_categories %}">Categories</a></li>
    <li class="breadcrumb-item active">New category</li>
{% endblock route %}

{% block content %}
<div class="card mb-4">
  <div class="card-header d-flex align-items-center">
    <h6 class="m-0 font-weight-bold margin-auto mr-auto">
      Specify a new category
    </h6>
    <a
      href="{% url list_categories %}"
      class="btn p-0 mx-0 text-primary"
      title="Create a new event"
    >
      List categories <i class="fas fa-list mx-1"></i>
    </a>
  </div>
  <div class="card-body">
    <form method="post" name="new-category">
      {% csrf_token %}
      <!-- Category name -->
      <div class="form-group">
        <label class="mb-1" for="inputCategoryName">
          {{ form.name.label_tag }}
        </label>
        {% render_field form.name class="form-control py-4"
        id="inputCategoryName" placeholder="Enter a new category name" %} {% if
        form.name.errors %}
        <div class="alert alert-danger my-2">
          <strong>Error:</strong>
          <p>{{ form.name.errors }}</p>
        </div>
        {% endif %}
      </div>

      <!-- Category display name -->
      <div class="form-group">
        <label class="mb-1" for="inputCategoryDisplayName">
          {{ form.display_name.label_tag }}
        </label>
        {% render_field form.display_name class="form-control py-4"
        id="inputCategoryDisplayName" placeholder="Enter a new category display
        name" %} {% if form.display_name.errors %}
        <div class="alert alert-danger my-2">
          <strong>Error:</strong>
          <p>{{ form.display_name.errors }}</p>
        </div>
        {% endif %}
      </div>

      <!-- Category display name english (optional) -->
      <div class="form-group">
        <label class="mb-1" for="inputCategoryNameEnglish">
          Display Name [English] (???)
        </label>
        <input
          type="text"
          class="form-control py-4"
          id="inputCategoryName"
          placeholder="Enter a new category display name in english"
        />
      </div>
      {% if messages %}
      <div class="alert alert-success p-2">
        {% for message in messages %}
        <i class="fas fa-check"></i> {{message}} {% endfor %}
      </div>
      {% endif %}
      <div class="form-group w-100 mt-4 mb-0">
        <input class="btn btn-primary w-100" type="submit" value="Create" />
        <!--
                    <a class="btn btn-primary" href="#">Login</a>
                -->
      </div>
    </form>
  </div>
</div>
{% endblock content %} {% endwith %}
