{% load widget_tweaks %}


<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Create Case</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="post" action="{% url 'dashboard:event_cases:create_case' %}">
            {% csrf_token %}
          
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Title</label>
                        {% render_field form.title class="form-control" %}
                      </div>
                    </div>
    
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Case Type</label>
                            {% render_field form.case_type class="form-control" %}
                          </div>
                        </div>
                      </div>
    
                    <br />
                    <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Start Date</label>
                        {% render_field form.start_date class="form-control" %}
                      </div>
                    </div>
                  <br />
                
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">End Date</label>
                      {% render_field form.end_date class="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Category</label>
                      {% render_field form.category class="form-control" %}
                    </div>
                  </div>
    
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Description</label>
                          {% render_field form.description class="form-control" %}
                        </div>
                      </div>
                    </div>                
    
    
            </div>
          
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Cancel</button>
              <button class="submit-btn btn btn-primary" type="submit">Register</button>
            </div>
          
          </form>
    </div>

</div>