{% extends 'extends/base.html' %}
{% load static %}
{% block custom_stylesheet %}

<link rel="stylesheet" type="text/css" href="{% static 'plugins/DataTables/datatables.min.css' %}" /> 


{% endblock custom_stylesheet %}

{% block tab_title %} VSF - Events {% endblock tab_title %}
{% block title %} Events {% endblock title %}
{% block sub_title %} List and filter all the currently available events {% endblock sub_title %}

{% block route %}

<li class="breadcrumb-item">
  <a href="{% url home %}">Home</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'dashboard:events:all' %}">Events List</a>
</li>

{% endblock route %}

{% block content %}
  <form id="urlForm">
    <nav class="navbar navbar-light bg-light mb-5">
      <div class="container-fluid">
        <div class="row">

          <div class="col-4">
            <input
            id="identification"
            class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
            type="search"
            placeholder="Identification"
            aria-label="Search identification"
            value="{{ prefill.identification }}"
            name="identification"
            />
          </div>
          <div class="col-4">
            <div class="row align-items-center rounded p-2 bg-info ml-1">
              <div class="col-5 mx-auto">
                <label class='font-weight-bold text-white' for="confirmed">
                  Confirmed
                </label>
              </div>
              <div class="col-7 mx-auto">
                <select id="confirmed" class="custom-select additional-filter" name="confirmed">
                  <option value="">Any Confirmation</option>
                  
                  <option {% if prefill.confirmed == "true" %} selected {% endif %} value="true">True</option>
                  <option {% if prefill.confirmed == "false" %} selected {% endif %} value="false">False</option>
                  
                </select>
              </div>
            </div> 
          </div>

          <div class="col-4">
            <div class="row align-items-center rounded p-2 bg-info ml-1">
              <div class="col-5 mx-auto">
                <label class='font-weight-bold text-white'>
                  Start Time
                </label>
              </div>
              <div class="col-7 mx-auto">
                <input id="start_time" class="form-control mr-2 additional-filter" type="date" value="{{ prefill.start_time }}" name="start_time"/>
              </div>
            </div> 
          </div>

          <div class="col-4 my-3">
            <div class="row align-items-center rounded p-2 bg-info">
              <div class="col-5 mx-auto">
                <label class='font-weight-bold text-white'>
                  End Time
                </label>
              </div>
              <div class="col-7 mx-auto">
                <input id="end_time" class="form-control mr-2 additional-filter" type="date" value="{{ prefill.end_time }}" name="end_time"/>
              </div>
            </div> 
          </div>

          <div class="col-4 mt-3">
            <input
            id="public_evidence"
            class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
            type="search"
            placeholder="Public Evidence"
            aria-label="Search public evidence"
            value="{{ prefill.public_evidence }}"
            name="public_evidence"
            />
          </div>

          <div class="col-4 mt-3">
            <input
            id="private_evidence"
            class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
            type="search"
            placeholder="Private evidence"
            aria-label="Search private evidence"
            value="{{ prefill.private_evidence }}"
            name="private_evidence"
            />
          </div>
          
          <div class="col-3 mt-3 my-auto">
            <div class="row align-items-center rounded p-2 bg-info">
              <div class="col-5 mx-auto">
                <label class="font-weight-bold text-white" for="site">Issue Type</label>
              </div>
              <div class="col-7 mx-auto">
                <select class="custom-select additional-filter" id="issue_type" name="issue_type">
                  <option selected value="">
                    Any Issue
                  </option>
                  {% for issue in issueTypes %}
                    <option 
                    {% if issue.name == prefill.issue_type %} selected {% endif %}
                    value="{{ issue.name }}" 
                    >
                    {{ issue.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>   
          </div>

          <div class="col-4 mt-3">
            <input
            id="domain"
            class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
            type="search"
            placeholder="Domain"
            aria-label="Search domain"
            value="{{ prefill.domain }}"
            name="domain"
            />
          </div>


          <div class="col-4 mt-3">
            <div class="row align-items-center rounded p-2 bg-info ml-1">
              <div class="col-3 mx-auto">
                <label class='font-weight-bold text-white' for="asn">
                  ASN
                </label>
              </div>
              <div class="col-9 mx-auto">
                <select id="asn" class="custom-select additional-filter" name="asn">
                  <option value="">Any ASN</option>
                  {% for asn in asns %}
                    <option 
                    {% if asn.asn == prefill.asn %} selected {% endif %}
                    value="{{ asn.asn }}" 
                    >
                    {{ asn.asn }} - {{ asn.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div> 
          </div>


          <div class="col-1 my-auto mx-auto">
            <button id="url-form-button" class="btn btn-outline-info btn-block" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>

        </div> 
      </div>   
      {% include "includes/measurements-includes/copy-clipboard-search-url.html" %}
    </nav>


    <div class="card rounded p-5" id="events-card">
      <div class="table-responsive">
        <table class="table table-striped mt-5 datatable" id="events">
          <thead>
            <tr>
              <th class="text-center" scope="col">Identification</th>
              <th class="text-center" scope="col">Confirmed</th>
              <th class="text-center" scope="col">Start Date</th>
              <th class="text-center" scope="col">End Date</th>
              <th class="text-center" scope="col">Public Evidence</th>
              <th class="text-center" scope="col">Private Evidence</th>
              <th class="text-center" scope="col">Issue Type</th>
              <th class="text-center" scope="col">Domain</th>
              <th class="text-center" scope="col">ASN</th>
            </tr>
          </thead>
          <tbody id='evenets-tbody'>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
    </div>

  </form>

{% endblock content %}

{% block custom_scripts %}
<script type="text/javascript" src="{% static 'plugins/DataTables/datatables.min.js' %}"></script>

<script>
  'use strict';

  $("#urlForm").on("submit", function (event) {
    event.preventDefault();

    let data = {
      identification: $("#identification").val(), 
      confirmed: $("#confirmed").val() == 'true', start_time: $("#start_time").val(), 
      end_time: $("#end_time").val(), public_evidence : $("#public_evidence").val(), 
      private_evidence: $("#private_evidence").val(), asn: $( '#asn' ).val(),
      issue_type: $("#issue_type").val(), domain: $("#domain").val()
    };
    
    let urlSearch = "{% url 'dashboard:events:all' %}";
    let url = urlSearch + "?" + $.param(data);
    window.location.href = url;
  });

  $(document).ready(function() {
    
    /* Creating datatable */
    var table = $( '#events' ).DataTable({
      order: [[2, "desc"]],
      searching: true,
      processing: true,
      language: {
      },
      serverSide: true,
      rowId: "id",
      ajax: {
        url: '{% url "dashboard:events:data" %}',
        data: function (data) {

          data.identification = $("#identification").val();
          data.confirmed = $("#confirmed").val() === 'true';
          data.start_time = $("#start_time").val();
          data.end_time = $("#end_time").val();
          data.public_evidence = $("#public_evidence").val();
          data.private_evidence = $("#private_evidence").val();
          data.asn = $("#asn").val();
          data.issue_type = $("#issue_type").val();
          data.domain = $("#domain").val();
          console.log(data);
        },
        contentType: "application/json; charset=utf-8",  
        type: "GET",
      },
      columns: [
        {
          data: "identification",
          orderable: true,
          searchable: true,
        },
        {
          data: "confirmed",
          orderable: true,
          searchable: true,
        },
        {
          data: "start_date",
          orderable: true,
          searchable: true,
        },
        {
          data: "end_date",
          orderable: true,
          searchable: true,
        },
        {
          data: "public_evidence",
          orderable: true,
          searchable: true,
        },
        {
          data: "private_evidence",
          orderable: true,
          searchable: true,
        },
        {
          data: "issue_type",
          orderable: true,
          searchable: true,
        },
        {
          data: "domain",
          orderable: true,
          searchable: true,
        },
        {
          data: "asn",
          orderable: true,
          searchable: true,
        },
      ],
      initComplete: function () {},
      buttons: [],
      select: {
        style: 'multi'
      },
    });
  })
</script>
{% endblock custom_scripts %}
