@charset "UTF-8";
/*
=====================================
THIS IS THE MAIN FILE FOR SCSS RULES
=====================================
*/

body > div > div > div.col-10.position-relative {
  background-color: #f0f0f0;
}
h1, h2, h3, h4, h5, h6, p, label {
  color: #808080;
}

.breadcrumb {
  background-color: rgba(0,0,0,.065);
  padding: .75rem 1rem;
  list-style: none;
  border-radius: .25rem;
}

#domains-list-card, #sites-list-card {
  padding: 5%
}

.modal {
  overflow-y: auto !important;
}

.modal-content{
  box-shadow:0 4px 10px 4px rgba(#343a40d9,.3); 
}

.modal-title .close{
  color: #242424;
}

.modal-header .close{
  color: #242424;
}

.input-group {
  display: block !important;
}

.create-sites-labels {
  transform:translateY(6px);
  left:13px;
  color: #242424;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
}

.create-sites-labels.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}

.modal-content > label.highlight, .modal-body {
	color: #242424;
}

#vsf-sites-input, #vsf-description-eng-input, #vsf-description-input {
  font-size:22px;
  display:block;
  width:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #17a2b8;
  color: #242424;
  border-radius:5%;
  transition:border-color .25s ease, box-shadow .25s ease;
}

.buttons-modal {
  float: right;
}

.controlResolverAnswers, .answer{
  text-align: left;
}

#layoutAuthentication {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#layoutAuthentication #layoutAuthentication_content {
  min-width: 0;
  flex-grow: 1;
}

#layoutAuthentication #layoutAuthentication_footer {
  min-width: 0;
}

#layoutAuthentication .nav.sb-sidenav-dark.flex-column {
  overflow-y: auto;
}

.sb-nav-fixed {
  top: 56px;
}

#layoutError {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#layoutError #layoutError_content {
  min-width: 0;
  flex-grow: 1;
}

#layoutError #layoutError_content #layoutError_footer {
  min-width: 0;
}

#sidenavMenu {
  z-index: 1000;
}

.img-error {
  max-width: 20rem;
}

.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
  margin-right: 0.5rem;
}

.sb-topnav {
  padding-left: 0;
  height: 56px;
  z-index: 1039;
}

.sb-topnav .navbar-brand {
  width: 225px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

.sb-topnav.navbar-dark #sidebarToggle {
  color: rgba(255, 255, 255, 0.5);
}

.sb-topnav.navbar-light #sidebarToggle {
  color: #212529;
}

.nav.sb-sidenav-dark.flex-column .sb-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav.sb-sidenav-dark.flex-column .nav-link {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
}

.nav.sb-sidenav-dark.flex-column .nav-link .sb-nav-link-icon {
  font-size: 0.9rem;
}

.nav.sb-sidenav-dark.flex-column .nav-link .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}

.nav.sb-sidenav-dark.flex-column .sb-sidenav-menu-nested {
  margin-left: 1.5rem;
  flex-direction: column;
}

.nav.sb-sidenav-dark.flex-column .sb-sidenav-footer {
  padding: 0.75rem;
  flex-shrink: 0;
}

.sb-sidenav-dark {
  background-color: #212529;
  color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark .sb-sidenav-footer {
  background-color: #343a40;
}

.nav.sb-sidenav-dark.flex-column .sb-sidenav-menu-heading {
  color: rgba(255, 255, 255, 0.25);
}

.nav.sb-sidenav-dark.flex-column .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.nav.sb-sidenav-dark.flex-column .nav-link .sb-nav-link-icon {
  color: rgba(255, 255, 255, 0.25);
}

.nav.sb-sidenav-dark.flex-column .nav-link .sb-sidenav-collapse-arrow {
  color: rgba(255, 255, 255, 0.25);
}

.nav.sb-sidenav-dark.flex-column .nav-link:hover {
  color: #fff;
}

.nav.sb-sidenav-dark.flex-column .nav-link.active {
  color: #fff;
}

.nav.sb-sidenav-dark.flex-column .nav-link.active .sb-nav-link-icon {
  color: #fff;
}

/*
=====================================
THIS IS THE SCSS FILE FOR CUSTOM RULES THAT
FIXES SOME SIZES ON THE TEMPLATE
=====================================
*/
.pt-fix {
  padding-top: 56px;
}

.vh-100-custom {
  height: calc(100vh - 56px);
}

.h-100-custom {
  min-height: calc(100% - 56px);
  max-height: calc(100vh - 56px);
}

.w-sidenav-custom {
  width: 16.66666667%;
}

.sidenav-bottom {
  margin-top: auto;
}

.navbar-collapse-fix {
  flex-grow: 0;
}

/*
=====================================
THIS IS SCSS FILE THAT CONTAINS SOME MISC CUSTOM RULES
=====================================
*/
.vsf-flex-grow-1 {
  flex-grow: 1;
}

textarea.vsf-form-control {
  height: 10rem;
  min-height: 10rem;
}

.dt-buttons-custom {
  width: 49.98888888%;
}

.vsf-append-input-range {
  flex: 1 1 auto;
  width: 1%;
}

.bg-custom-success {
  background-color: rgba(41, 168, 71, 0.4) !important;
}

.bg-custom-danger {
  background-color: rgba(220, 53, 70, 0.4) !important;
}

.bg-custom-warning {
  background-color: rgba(255, 193, 7, 0.4) !important;
}

.gutter-padding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.gutter-margin {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

