<script>
  $(document).ready(function () {
    "use strict";

    let oTable = $(".datatable").DataTable({
      order: [[1, "desc"]],
      columns: [
        /*
            =====================================
            ROW DESCRIPTIONS
            =====================================
        */
        {
          data: "measurement__raw_measurement__input",
          orderable: true,
          searchable: true,
        },
        {
          data: "measurement__raw_measurement__measurement_start_time",
          orderable: true,
          searchable: true,
        },
        {
          data: "measurement__raw_measurement__probe_asn",
          orderable: true,
          searchable: true,
        },
        {
          data: "measurement__raw_measurement__probe_cc",
          orderable: true,
          searchable: true,
        },
        {
          data: "site_name",
          orderable: true,
          searchable: true,
        },
        {
          data: "measurement__anomaly",
          orderable: true,
          searchable: true,
          render: function (data, type, row, meta) {
            if (data === "true") {
              return `<div class="text-center text-success">
                        <i title="TRUE" class="far fa-flag fa-2x"></i>
                      </div>`;
            } else {
              return `<div class="text-center text-danger">
                        <i title="FALSE" class="far fa-flag fa-2x"></i>
                      </div>`;
            }
          },
        },
        {
          data: "flag__flag",
          orderable: true,
          searchable: true,
          render: function (data, type, row, meta) {
            if (data === "ok") {
              return `<div class="text-center text-success">
                        <i title="OK" class="fas fa-thumbs-up fa-2x"></i>
                      </div>`
            } else if (data === "hard") {
              return `<div class="text-center text-danger">
                        <i title="HARD" class="fas fa-flag fa-2x"></i>
                      </div>`
            } else {
              return `<div class="text-center text-warning">
                        <i title="SOFT" class="fas fa-flag fa-2x"></i>
                      </div>`
            };
          },
        },
        {
          data: "dns_consistency",
          orderable: true,
          searchable: true,
        },
        {
          data: "jsons__answers",
          orderable: false,
          searchable: false,
          render: function (data, type, row, meta) {
            return `<pre> ${prettyPrintJson.toHtml(data)} </pre>`;
          },
        },
        {
          data: "jsons__control_resolver_answers",
          orderable: false,
          searchable: false,
          render: function (data, type, row, meta) {
            return `<pre> ${prettyPrintJson.toHtml(data)} </pre>`;
          },
        },
        {
          data: "client_resolver",
          orderable: false,
          searchable: false,
        },
      ],
      searching: true,
      processing: true,
      serverSide: true,
      rowId: "measurement__id",
      dom: "Blrtip",
      ajax: {
        /*
            =====================================
            CONFIGURATION FOR THE AJAX REQUEST TO THE SERVER
            =====================================
            */
        url: '{% url "dashboard:submeasurement:list_dns_data" %}',
        data: function (data) {
          /*
                =====================================
                ADD ADDITIONAL DATA TO THE DATA PASSED TO THE SERVER
                =====================================
            */

          let site = $("#site").val();
          let since = $("#since").val();
          let until = $("#until").val();
          let consistency = $("#consistency").val();
          let input = $("#input").val();
          let asn = $("#asn").val();
          let anomaly = $("#anomaly-state").val();
          let country = "";

          if (site) data.site = site;

          if (since) data.since = since;

          if (until) data.until = until;

          if (consistency) data.consistency = consistency;

          if (input) data.input = input;

          if (asn) data.asn = asn;

          if (anomaly) data.anomaly = anomaly;

          if (country) data.country = country;
        },
        type: "GET",
      },
      initComplete: function () {
        /*
            =====================================
            THIS FUNCTION COLLECTS THE DATA IN THE ROWS INPUT FIELDS
            WHENEVER ONE OF THEM CHANGES
            =====================================

            this.api()
            .columns()
            .every(function () {

                let that = this;

                $(".filter-input", this.footer()).on("change clear", function () {

                if ( that.search() !== this.value ) {

                    that.search( this.value ).draw();
                }
                });
            });
            */
      },
      select: true,
      lengthChange: false,
      buttons: [
        {
          text: "Get Measurement Data",
          action: function (e, dt, node, config) {
            /*
                =====================================
                THIS FUNCTION IS CALLED WHENEVER THE 'GET MEASUREMENT DATA' BUTTON IS TRIGGERED
                =====================================
                */
            let data = dt.rows({ selected: true }).data();

            if (data.length === 0) {
              Swal.fire({
                icon: "warning",
                title: "There is nothing selected!",
                confirmButtonColor: "#ffc107",
                confirmButtonText: "Continue",
              });

              return;
            }

            let id = data[0].measurement__id;

            $.ajax({
              type: "GET",
              url: '{% url "measurements:get_measurement" %}',
              data: { id: id },
              success: function (measurementData) {
                $("#annotations-detailed").html(
                  prettyPrintJson.toHtml(measurementData["annotations"])
                );
                $("#bucket-date-detailed").text(measurementData["bucket_date"]);
                $("#data-format-version-detailed").text(
                  measurementData["data_format_version"]
                );
                $("#input-detailed").text(measurementData["input"]);
                $("#measurement-start-time-detailed").text(
                  measurementData["measurement_start_time"]
                );
                $("#options-detailed").text(measurementData["options"]);
                $("#probe-asn-detailed").text(measurementData["probe_asn"]);
                $("#probe-cc-detailed").text(measurementData["probe_cc"]);
                $("#probe-ip-detailed").text(measurementData["probe_ip"]);
                $("#report-filename-detailed").text(
                  measurementData["report_filename"]
                );
                $("#report-id-detailed").text(measurementData["report_id"]);
                $("#software-name-detailed").text(
                  measurementData["software_name"]
                );
                $("#software-version-detailed").text(
                  measurementData["software_version"]
                );
                $("#test-helpers-detailed").html(
                  prettyPrintJson.toHtml(measurementData["test_helpers"])
                );
                $("#test-keys-detailed").html(
                  prettyPrintJson.toHtml(measurementData["test_keys"])
                );
                $("#test-name-detailed").text(measurementData["test_name"]);
                $("#test-runtime-detailed").text(
                  measurementData["test_runtime"]
                );
                $("#test-start-time-detailed").text(
                  measurementData["test_start_time"]
                );
                $("#test-version-detailed").text(
                  measurementData["test_version"]
                );

                $("#modalMeasurementInfo").modal("show");
              },
              error: function (jqXHR, textStatus, errorThrown) {
                Swal.fire({
                  icon: "warning",
                  title: "There is an error in the inputs!",
                  confirmButtonColor: "#28a745",
                  confirmButtonText: "Continue",
                });
              },
            });
          },
          enabled: false,
        },
      ],
    });

    /*
    =====================================
    TRIGGERED WHEN A CUSTOM FILTER IS SELECTED
    =====================================
    */
    $(".additional-filter").change((e) => oTable.draw());

    /*
    =====================================
    REQUIRED TO PERFORM ROW SELECTION
    =====================================
    */
    oTable.on("select deselect", (e) => {
      let selectedRows = oTable.rows({ selected: true }).count();
      oTable.button(0).enable(selectedRows === 1);
    });
  });
</script>
