
<!--
  ========================================
  LIST OF EXISTENT SITES
  ========================================
-->

{% extends 'extends/base.html' %}
{% load static %}
{% with home='dashboard:home' %}

{% block tab_title %} VSF - Sites {% endblock tab_title %}

{% block title %} Sites {% endblock title %}
{% block sub_title %} List of all available Sites {% endblock sub_title %}

{% block route %}
<li class="breadcrumb-item"><a href="{% url 'dashboard:site:list_sites' %}">Home</a></li>
<li class="breadcrumb-item active">Sites</li>
{% endblock route %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Input</strong>
    </div>
    <div class="col-8">
      <p id="input-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Test Name</strong>
    </div>
    <div class="col-8">
      <p id="test-name-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Measurement Start Time</strong>
    </div>
    <div class="col-8">
      <p id="measurement-start-time-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Probe ASN</strong>
    </div>
    <div class="col-8">
      <p id="probe-asn-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize text-center text-uppercase"
        >Test Keys</strong
      >
    </div>
    <div class="col-8">
      <p>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTestKeys"
          aria-expanded="false"
          aria-controls="collapseTestKeys"
        >
          Show Test Keys
        </button>
      </p>
    </div>

    <div class="col-12 mt-2">
      <div class="collapse" id="collapseTestKeys">
        <div class="card card-body">
          <pre id="test-keys-detailed"></pre>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Annotations</strong>
    </div>
    <div class="col-8">
      <pre id="annotations-detailed"></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Bucket Date</strong>
    </div>
    <div class="col-8">
      <p id="bucket-date-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Data Format Version</strong>
    </div>
    <div class="col-8">
      <p id="data-format-version-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Options</strong>
    </div>
    <div class="col-8">
      <p id="options-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Probe CC</strong>
    </div>
    <div class="col-8">
      <p id="probe-cc-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Probe IP</strong>
    </div>
    <div class="col-8">
      <p id="probe-ip-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Report Filename</strong>
    </div>
    <div class="col-8">
      <p id="report-filename-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Report ID</strong>
    </div>
    <div class="col-8">
      <p id="report-id-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Software Name</strong>
    </div>
    <div class="col-8">
      <p id="software-name-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Software Version</strong>
    </div>
    <div class="col-8">
      <p id="software-version-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Test Helpers</strong>
    </div>
    <div class="col-8">
      <p id="test-helpers-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Test Runtime</strong>
    </div>
    <div class="col-8">
      <p id="test-runtime-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Test Start Time</strong>
    </div>
    <div class="col-8">
      <p id="test-start-time-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Test Version</strong>
    </div>
    <div class="col-8">
      <p id="test-version-detailed"></p>
    </div>
  </div>
</div>

{% endblock content %}

{% block custom_scripts %}
<script>
</script>
{% endblock custom_scripts %}

{% endwith %}
