<!--
  ========================================
  MAIN LISTING MEASUREMENTS
  ========================================
-->

{% extends 'extends/base.html' %}
{% load static %}

{% block custom_stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/sl-1.3.1/datatables.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/pretty-print-json@0.3/dist/pretty-print-json.css"
/>
{% endblock custom_stylesheet %}

{% block tab_title %} VSF - Measurements {% endblock tab_title %}
{% block title %} Measurements {% endblock title %}
{% block sub_title %} List and filter all the currently available measurements {% endblock sub_title %}

{% block route %}

<li class="breadcrumb-item">
  <a href="{% url home %}">Home</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'dashboard:measurement:list_measurements' %}">Measurements</a>
</li>
<li class="breadcrumb-item active">
  Measurement's List
</li>

{% endblock route %}

{% block content %}

<nav class="navbar navbar-light bg-light mb-5">
  <form id="urlForm" action="#">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Since</span>
            </div>
            <input id="since" class="form-control mr-2 additional-filter" type="date" value="{{ prefill.since }}" name="since"/>
          </div>
        </div>

        <div class="col-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Until</span>
            </div>
            <input id="until" class="form-control mr-2 additional-filter" type="date" value="{{ prefill.until }}" name='until'/>
          </div>
        </div>

        <div class="col-6">
          <div class="input-group mr-2">
            <div class="input-group-prepend">
              <label class="input-group-text" for="asn">ASN</label>
            </div>
            <select id="asn" class="custom-select additional-filter" name="asn">
              <option value="">Any ASN</option>
              {% for asn in asns %}
                    <option 
                    {% if asn.asn == prefill.asn %} selected {% endif %}
                    value="{{ asn.asn }}" >{{ asn.asn }} - {{ asn.name }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              
              <div class="col-3 mt-3">
                <div class="input-group mr-2">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="test-name">Test Type</label>
                  </div>
                  <select id="test-name" class="custom-select additional-filter" name="test_name">
                    <option selected value="">Choose Test Type</option>
                    {% for test in test_types %}
                    <option
                    {% if prefill.test_name == test.value %} selected {% endif %}
                    value="{{ test.value }}"
                    >
                    {{ test.name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            
            <div class="col-3 mt-3">
              <div class="input-group mr-2">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="anomaly-state">Anomaly</label>
                </div>
                <select id="anomaly-state" class="custom-select additional-filter" name="anomaly">
                  <option selected value="">Any</option>
                  <option {% if prefill.anomaly == 'false' %} selected {% endif %}              
                  value="false">Anomaly False</option>
                  <option 
                  {% if prefill.anomaly == 'true' %} selected {% endif %}
                  value="true">Anomaly True</option>
                </select>
              </div>
            </div>
            
            <div class="col-3 mt-3">
              <input
              id="input"
              class="form-control mr-2 additional-filter"
              type="search"
              placeholder="URL"
              aria-label="Search URL"
              value="{{ prefill.input }}"
              name="input"
              />
            </div>
            
            <div class="col-3 mt-3">
              <div class="input-group mr-sm-2">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="site">Site</label>
                </div>
                <select class="custom-select additional-filter" id="site" name="site">
                  <option selected value="">Any Site</option>
                  {% for site in sites %}
                  <option
                  value="{{ site.id }}"
                  title="{{ site.description }}"
                  {% if prefill.site == site.id|stringformat:"i" %} selected {% endif %}
                  >
                  {{ site.name }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>    
  </form>
  {% include "includes/measurements-includes/copy-clipboard-search-url.html" %}
</nav>

<h4><strong>Last Measurement from:</strong> {{last_measurement_date}} </h4>
<table class="table table-striped mt-5 datatable" id="my-table">
  <thead>
    <tr>
      <th class="text-center" scope="col">input</th>
      <th class="text-center" scope="col">Type</th>
      <th class="text-center" scope="col">Start Time</th>
      <th class="text-center" scope="col">ASN</th>
      <th class="text-center" scope="col">country</th>
      <th class="text-center" scope="col">Site</th>
      <th class="text-center" scope="col">Anomaly</th>
    </tr>
  </thead>
  
  <tbody>
  </tbody>
  
  <tfoot>
  </tfoot>
  
</table>

{% include "includes/measurements-includes/detailed-info-modal.html" %}

{% endblock content %}

{% block custom_scripts %}
<script
  type="text/javascript"
  src="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/sl-1.3.1/datatables.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/pretty-print-json@0.3/dist/pretty-print-json.min.js"></script>
<!-- measurement table js controller -->
{% include "includes/js/measurements-includes-js/list-ms-dt-js.html" %}
<!-- Copy to clipboard text area controller -->
{% include "includes/js/measurements-includes-js/copy-clipboard-search-url-js.html" %}

{% endblock custom_scripts %}
