{% extends 'extends/base.html' %}
{% load static %}
{% block custom_stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/DataTables/datatables.min.css' %}" /> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-print-json@0.3/dist/pretty-print-json.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.css' %}" /> 

{% endblock custom_stylesheet %}

{% block tab_title %} VSF - Measurements {% endblock tab_title %}
{% block title %} Measurements {% endblock title %}
{% block sub_title %} List and filter all the currently available measurements {% endblock sub_title %}

{% block route %}

<li class="breadcrumb-item">
  <a href="{% url home %}">Home</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'dashboard:measurement:list_measurements' %}">Measurements List</a>
</li>

{% endblock route %}

{% block content %}
  <form id="urlForm">
    <nav class="navbar navbar-light bg-light mb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="row align-items-center rounded p-2 bg-info">
              <div class="col-3 mx-auto">
                <label class='font-weight-bold text-white'>
                  Since
                </label>
              </div>
              <div class="col-9 mx-auto">
                <input id="since" class="form-control mr-2 additional-filter" type="date" value="{{ prefill.since }}" name="since"/>
              </div>
            </div> 
          </div>

          <div class="col-3">
            <div class="row align-items-center rounded p-2 bg-info ml-1">
              <div class="col-3 mx-auto">
                <label class='font-weight-bold text-white'>
                  Until
                </label>
              </div>
              <div class="col-9 mx-auto">
                <input id="until" class="form-control mr-2 additional-filter" type="date" value="{{ prefill.until }}" name='until'/>
              </div>
            </div> 
          </div>

          <div class="col-6">
            <div class="row align-items-center rounded p-2 bg-info ml-1">
              <div class="col-3 mx-auto">
                <label class='font-weight-bold text-white' for="asn">
                  ASN
                </label>
              </div>
              <div class="col-9 mx-auto">
                <select id="asn" class="custom-select additional-filter" name="asn">
                  <option value="">Any ASN</option>
                  {% for asn in asns %}
                    <option 
                    {% if asn.asn == prefill.asn %} selected {% endif %}
                    value="{{ asn.asn }}" 
                    >
                    {{ asn.asn }} - {{ asn.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div> 
          </div>
          
          <div class="col-3 mt-3">
            <div class="row align-items-center rounded p-2 bg-info">
              <div class="col-5 mx-auto">
                <label class="font-weight-bold text-white" for="test-name">Test Type</label>
              </div>
              <div class="col-7 mx-auto">
                <select id="test-name" class="custom-select additional-filter" name="test_name">
                  <option selected value="">Choose Test Type</option>
                  {% for test in test_types %}
                    <option {% if prefill.test_name == test.value %} selected {% endif %} value="{{ test.value }}">
                      {{ test.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div> 
          </div>
              
          <div class="col-3 mt-3">
            <div class="row align-items-center rounded p-2 bg-info ml-1">
              <div class="col-4 mx-auto">
                <label class="font-weight-bold text-white" for="anomaly-state">Anomaly</label>
              </div>
              <div class="col-8 mx-auto">
                <select id="anomaly-state" class="custom-select additional-filter" name="anomaly">
                  <option selected value="">Any</option>
                  <option {% if prefill.anomaly == 'false' %} selected {% endif %} value="false">
                    Anomaly False
                  </option>
                  <option {% if prefill.anomaly == 'true' %} selected {% endif %}value="true">
                    Anomaly True
                  </option>
                </select>
              </div>
            </div> 
          </div>
              
          <div class="col-6 mt-3">
            <input
            id="input"
            class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
            type="search"
            placeholder="URL"
            aria-label="Search URL"
            value="{{ prefill.input }}"
            name="input"
            />
          </div>
              
          <div class="col-4 mt-3 my-auto">
            <div class="row align-items-center rounded p-2 bg-info">
              <div class="col-4 mx-auto">
                <label class="font-weight-bold text-white" for="site">Site</label>
              </div>
              <div class="col-8 mx-auto">
                <select class="custom-select additional-filter" id="site" name="site">
                  <option selected value="">
                    Any Site
                  </option>
                  {% for site in sites %}
                    <option value="{{ site.id }}" title="{{ site.description }}" {% if prefill.site == site.id|stringformat:"i" %} selected {% endif %}>
                      {{ site.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>   
          </div>

          <div class="col-6 mt-3">
            <div class="row align-items-center rounded p-2 bg-info ml-1">
              <div class="col-3 mx-auto">
                <label class="font-weight-bold text-white" for="flag">Flag Existence</label>
              </div>
              <div class="col-9 mx-auto">
                <select class="custom-select additional-filter select2" id="flag" name="flag" multiple="multiple">
                  <option value="DNS">
                    DNS
                  </option>
                  <option value="HTTP">
                    HTTP
                  </option>
                  <option value="TCP">
                    TCP
                  </option>
                </select>
              </div>
            </div> 
          </div>

          <div class="col-2 my-auto mx-auto">
            <button id="url-form-button" class="btn btn-outline-info btn-block" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>

        </div> 
      </div>   
    
      <!-- copy-to-clipboard component for search fields -->
      {% include "includes/measurements-includes/copy-clipboard-search-url.html" %}
    </nav>

    <div class="row mb-3">
      <div class="col-6">
        <h4><strong>Last Measurement from:</strong> {{last_measurement_date}} </h4>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info rounded" id='info'>
          <i class="fa fa-info-circle"></i> 
        </button>
      </div>
    </div>
    

    <div class="card rounded" id="domains-list-card">
      <div class="table-responsive">
        <table class="table table-striped mt-5 datatable" id="measurements-list">
          <thead>
            <tr>
              <th class="text-center" scope="col">Input</th>
              <th class="text-center" scope="col">Type</th>
              <th class="text-center" scope="col">Start Time</th>
              <th class="text-center" scope="col">ASN</th>
              <th class="text-center" scope="col">Country</th>
              <th class="text-center" scope="col">Site</th>
              <th class="text-center" scope="col">Anomaly</th>
              <th class="text-center" scope="col">Flags by Submeasure</th>
            </tr>
          </thead>
          <tbody id='measurements-tbody'>

          </tbody>
          
          <tfoot>
          </tfoot>
          
        </table>
      </div>
    </div>

  </form>

{% endblock content %}

{% block custom_scripts %}
<script src="https://cdn.jsdelivr.net/npm/pretty-print-json@0.3/dist/pretty-print-json.min.js"></script>
{% include "includes/js/measurements-includes-js/copy-clipboard-search-url-js.html" %}

<script type="text/javascript" src="{% static 'plugins/DataTables/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>

<script>
  'use strict';

  $("#urlForm").on("submit", function (event) {
    
    event.preventDefault();

    let data = {
      since: $("#since").val(), until: $("#until").val(),
      asn: $("#asn").val(), test_name: $("#test-name").val(), 
      anomaly : $("#anomaly-state").val(), input: $("#input").val(),
      site: $("#site").val(), flag: $("#flag").val()
    };

    let urlSearch = "{% url 'dashboard:measurement:list_measurements' %}";
    let url = urlSearch + "?" + $.param(data);
    window.location.href = url;

  });

  var selectedRows = []
  $(document).ready(function() {

      $('.select2').select2({
        theme: "flat",
        allowClear: true,
        placeholder: "Select flags existence"
      });

      /* Creating datatable */
      var table = $("#measurements-list").DataTable({
        order: [[2, "desc"]],
        searching: true,
        processing: true,
        language: {
        },
        serverSide: true,
        rowId: "id",
        ajax: {
          url: '{% url "dashboard:measurement:list_measurements_data" %}',
          data: function (data) {
            $('#urlForm *').filter(':input').each(function(){
              
                if (this.id=='since') data.since = $(this).val();
                if (this.id=='until') data.until = $(this).val();
                if (this.id=='test-name') data.test_name = $(this).val();
                if (this.id=='asn') data.asn = $(this).val();
                if (this.id=='anomaly-state') data.anomaly = $(this).val();
                if (this.id=='input') data.site = $(this).val();
                if (this.id=='flag') data.flag = $(this).val();
            });
          },
          contentType: "application/json; charset=utf-8",  
          type: "GET",
        },
        columns: [
          {
            data: "raw_measurement__input",
            orderable: true,
            searchable: true,
          },
          {
            data: "raw_measurement__test_name",
            orderable: true,
            searchable: true,
          },
          {
            data: "raw_measurement__measurement_start_time",
            orderable: true,
            searchable: true,
          },
          {
            data: "raw_measurement__probe_asn",
            orderable: true,
            searchable: true,
          },
          {
            data: "raw_measurement__probe_cc",
            orderable: true,
            searchable: true,
          },
          {
            data: "site_name",
            orderable: true,
            searchable: true,
          },
          {
            data: "anomaly",
            orderable: true,
            searchable: true,
          },
          {
            data: "flags",
            orderable: true,
            searchable: true,
            render: function (data, type, row, meta) {

              if ( type === "sort" ) {
                return data['id'];
              } else {
                var line = ``;

                if ( data['dns'] ) {
                  line = line + `<span class="badge badge-pill badge-warning">DNS</span>`;
                }
                if ( data['http'] ) {
                  line = line + `<span class="badge badge-pill badge-warning">HTTP</span>`;
                } 
                if ( data['tcp'] ) {
                  line = line + `<span class="badge badge-pill badge-warning">TCP</span>`;
                } 

                return line;
              }
              
              
            },
          }
        ],
        initComplete: function () {},
        buttons: [],
        select: {
          style: 'multi'
        },
      });



      $('#info').attr('disabled','disabled');
      /* Creating datatables */
      var table = $('#measurements-list').DataTable();
      $('#measurements-tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
        var x = table.rows( { selected: true } ).data();
        console.log(x);
        if (table.rows('.selected').data().length > 0) {
          $('#info').removeAttr('disabled');
        } else {
          $('#info').attr('disabled','disabled');
        }

        var index = selectedRows.indexOf(this.id);
        if (index > -1) {
          selectedRows.splice(index, 1);
        } else {
          selectedRows.push(this.id);
        }

        console.log(selectedRows)
      });
  })
  
  $("#info").click(function() {
    var urls = []
    console.log(selectedRows);
    selectedRows.forEach(function(uuid){
      var url = "{% url 'dashboard:measurement:detail' pk='12341234-1123-1234-1234-121212121212' %}".replace('12341234-1123-1234-1234-121212121212', uuid);
      urls.push(url);
    });

    urls.forEach(function(url){
      window.open(url, '_blank');
    });
    
  });
</script>
{% endblock custom_scripts %}
