{% extends 'extends/base.html' %}
{% load static %}
{% block custom_stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/DataTables/datatables.min.css' %}" /> 
{% endblock custom_stylesheet %}

{% block tab_title %} VSF - Users {% endblock tab_title %}
{% block title %} Users {% endblock title %}
{% block sub_title %} List and filter all the currently available users {% endblock sub_title %}

{% block route %}

<li class="breadcrumb-item">
  <a href="{% url home %}">Home</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'dashboard:users:users_list' %}">Users List</a>
</li>

{% endblock route %}

{% block content %}
  <form id="urlForm">

    <div class="card rounded p-3 mt-4">

        <table class="table table-striped mt-5" id="users-table">
          <thead>
            <tr>
              <th class="text-center" scope="col">Username</th>
              <th class="text-center" scope="col">First Name</th>
              <th class="text-center" scope="col">Last Name</th>
              <th class="text-center" scope="col">Email</th>
              <th class="text-center" scope="col">Role</th>
              <th class="text-center" scope="col">Active?</th>
              <th class="text-center" scope="col">Actions</th>
            </tr>
          </thead>

          <tbody>
            {% for user_object in object_list %}
            <tr>
                <td>
                    {{ user_object.username }}
                    </td>
                <td>
                    {{ user_object.first_name }}
                </td>
                <td>
                    {{ user_object.last_name }}
                </td>
                <td>
                    {{ user_object.email }}
                </td>
                <td>
                    {{ user_object.role }}
                </td>
                <td>
                    
                    {% if user_object.is_active %}
                        <i class="far fa-check-circle text-success" title="User is Active"></i>
                    {% else %}
                        <i class="far fa-check-circle text-default" title="User is Inactive"></i>
                    {% endif %}

                </td>
                
                <td>

                    <button type="button" class="bs-modal btn btn-sm btn-warning" 
                    onclick="open_pass_modal('{% url 'dashboard:users:user_reveal_pass' user_object.id %}')">Show Pass</button>

                    <button type="button" class="bs-modal btn btn-sm btn-info" 
                    onclick="open_edit_modal('{% url 'dashboard:users:user_edit' user_object.id %}')">Edit</button>

                   {% if user_object.id != user.id %}

                        {% if user_object.is_active %}
                            <a href="{% url 'dashboard:users:user_activation' user_object.id  %}">
                                <button type="button" class="btn btn-sm btn-danger deactivate-user">Deactivate</button>
                            </a>
                        {% else %}
                        <a href="{% url 'dashboard:users:user_activation' user_object.id  %}">
                            <button type="button" class="btn btn-sm btn-primary deactivate-user">Activate</button>
                        </a>
                        {% endif %}

                    {% else %}
                    <button type="button" class="btn btn-sm btn-secondary deactivate-user" disabled>Deactivate</button>
                    {% endif %}
                        
                    <!-- <button type="button" class="btn btn-sm btn-danger deactivate-user" id="{{user_object.id}}">Disable</button>-->


                </td>
                </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
  </form>

<br>
  <p style="text-align: right; margin-right: 50px;">
    <button type="button" class="bs-modal btn  btn-info" 
    onclick="open_register_modal('{% url 'dashboard:users:users_register' %}')">Create User</button>
    </p>  


    <div class="modal fade" id='register_user' role="dialog"></div>
    <div class="modal fade" id='edit_user' role="dialog"></div>
    <div class="modal fade" id='reveal_pass_user' role="dialog"></div>



    {% block extrajs %}
    <script type="text/javascript" src="{% static 'plugins/DataTables/datatables.min.js' %}"></script>

    <script type="text/javascript">
        $('#users-table').DataTable();

        var $ = jQuery.noConflict()
    
        function open_register_modal(url){
            $('#register_user').load(url, function(){
                $(this).modal('show');
    
            });
        }
    
        function open_edit_modal(url){
            $('#edit_user').load(url, function(){
                $(this).modal('show');
    
            });
        
        }
    
        function open_pass_modal(url){
            $('#reveal_pass_user').load(url, function(){
                $(this).modal('show');
    
            });
        }


    
    </script>
    
    {% endblock extrajs %}
{% endblock content %}
