<!--
    Password reset form
-->

{% extends 'extends/base_accounting.html' %}
{% load widget_tweaks %}

{% block tab_title %} VSF - Set new password {% endblock tab_title %}

{% block title %} New password {% endblock title %}

{% block body %}

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label class="mb-1" for="inputPassword2">
      {{ form.new_password1.label_tag }}
    </label>
    {% render_field form.new_password1 class="form-control py-4" id="inputPassword1" placeholder="Enter new password" %}
  </div>

  <div class="form-group">
    <label class="mb-1" for="inputPassword2"
      >{{ form.new_password2.label_tag }}</label
    >
    {% render_field form.new_password2 class="form-control py-4" id="inputPassword2" type="password" placeholder="Confirm password" %}
  </div>

  <div class="text-muted my-2 small">{{form.new_password1.help_text}}</div>

  <div
    class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"
  >
    <input
      class="btn btn-primary w-100"
      type="submit"
      value="Change password"
    />
  </div>
</form>

<!-- Check for errors -->
{% if form.errors %}
<div class="alert alert-danger my-2">
  <strong>Error:</strong>

  {% if form.new_password2.errors %} {{ form.new_password2.errors }} {% endif %}
  {% if form.new_password1.errors %} {{ form.new_password1.errors }} {% endif %}
</div>
{% endif %}

{% endblock body %}

{% block footer %}
<div class="py-4 bg-light mt-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <a class="btn btn-primary w-100" href="{% url 'dashboard:login' %}"
          >Go to login</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock footer %}


