{% load widget_tweaks %}

{% block content %}


<style>
    .tooltip {
      position: relative;
      display: inline-block;
      opacity: 1;
    }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 140px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -75px;
      opacity: 1;
      transition: opacity 0.3s;
    }
    
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
    </style>


<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2>{{object.email}} password</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form>
          
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                          <br>
                          <br>

                        <label class="bmd-label-floating">Password</label>
                        

                        <input type="text" value="{{ object.raw_pss }}" id="myInput">

                        <div class="tooltip">

                        <button class="btn btn btn-success" onclick="myFunction()" onmouseout="outFunc()">
                            <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                            <i class="fas fa-copy"></i>
                          </button>

                        </div>




                      </div>
                    </div>
                </div>    
            </div>
          
            <div class="modal-footer">
                <button class="btn btn-info pull-left" type="button" data-dismiss="modal">Close</button>
            </div>
          
          </form>
    </div>
</div>

{% block extrajs %}
<script>
    function myFunction() {
      var copyText = document.getElementById("myInput");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");
      
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copied: " + copyText.value;
    }
    
    function outFunc() {
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copy to clipboard";
    }
    </script>

{% endblock extrajs %}

{% endblock content %}