{% extends 'extends/base.html' %}
{% load static %}
{% block custom_stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/DataTables/datatables.min.css' %}" />
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
 
{% endblock custom_stylesheet %}

{% block tab_title %} VSF - Events {% endblock tab_title %}
{% block title %} Events {% endblock title %}
{% block sub_title %} List and filter all the currently available events {% endblock sub_title %}

{% block route %}

<li class="breadcrumb-item">
  <a href="{% url home %}"><i class="feather icon-home"></i></a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'dashboard:events:all' %}">Events List</a>
</li>

{% endblock route %}

{% block content %}

  <form id="urlForm">
    <nav class="navbar navbar-light bg-light mb-5">
      <div class="container-fluid">
        <div class="row">

          <div class="col-4">
            <input
            id="identification"
            class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
            type="search"
            placeholder="Identification"
            aria-label="Search identification"
            value="{{ prefill.identification }}"
            name="identification"
            />
          </div>

          <div class="col-4">
            <div class="row align-items-center ml-1">
              <div class="col-5 mx-auto">
                <label class='font-weight-bold' for="confirmed">
                  Confirmed
                </label>
              </div>
              <div class="col-7 mx-auto">
                <select id="confirmed" class="custom-select additional-filter" name="confirmed">
                  <option value="">Any Confirmation</option>
                  
                  <option {% if prefill.confirmed == "true" %} selected {% endif %} value="true">True</option>
                  <option {% if prefill.confirmed == "false" %} selected {% endif %} value="false">False</option>
                  
                </select>
              </div>
            </div> 
          </div>

          <div class="col-4">
            <div class="row align-items-center ml-1">
              <div class="col-5 mx-auto">
                <label class='font-weight-bold'>
                  Start Time
                </label>
              </div>
              <div class="col-7 mx-auto">
                <input id="start_time" class="text-secondary form-control mr-2 additional-filter" type="date" value="{{ prefill.start_time }}" name="start_time"/>
              </div>
            </div> 
          </div>

          <div class="col-4 mt-3">
            <div class="row align-items-center">
              <div class="col-5 mx-auto">
                <label class='font-weight-bold'>
                  End Time
                </label>
              </div>
              <div class="col-7 mx-auto">
                <input id="end_time" class="text-secondary form-control mr-2 additional-filter" type="date" value="{{ prefill.end_time }}" name="end_time"/>
              </div>
            </div> 
          </div>
          
          <div class="col-4 mt-3">
            <div class="row align-items-center ml-1">
              <div class="col-5 mx-auto">
                <label class="font-weight-bold" for="site">Issue Type</label>
              </div>
              <div class="col-7 mx-auto">
                <select class="custom-select additional-filter" id="issue_type" name="issue_type">
                  <option selected value="">
                    Any Issue
                  </option>
                  {% for issue in issueTypes %}
                    <option 
                    {% if issue.name == prefill.issue_type %} selected {% endif %}
                    value="{{ issue.name }}" 
                    >
                    {{ issue.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>   
          </div>

          <div class="col-4 mt-3">
            <input
            id="domain"
            class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
            type="search"
            placeholder="Domain"
            aria-label="Search domain"
            value="{{ prefill.domain }}"
            name="domain"
            />
          </div>

          <div class="col-4 mt-3">
            <div class="row align-items-center">
              <div class="col-3 mx-auto">
                <label class='font-weight-bold' for="asn">
                  ASN
                </label>
              </div>
              <div class="col-9 mx-auto">
                <select id="asn" class="custom-select additional-filter" name="asn">
                  <option value="">Any ASN</option>
                  {% for asn in asns %}
                    <option 
                    {% if asn.asn == prefill.asn %} selected {% endif %}
                    value="{{ asn.asn }}" 
                    >
                    {{ asn.asn }} - {{ asn.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div> 
          </div>

          <div class="col-4 mt-4">
            <div class="row align-items-center ml-1">
              <div class="col-5 mx-auto">
                <label class='font-weight-bold' for="muted">
                  Muted
                </label>
              </div>
              <div class="col-7 mx-auto">
                <select id="muted" class="custom-select additional-filter" name="muted">
                  <option value="all" >Any Muted</option>
                  <option {% if prefill.muted == 'true' %} selected {% endif %} value="true">True</option>
                  <option {% if prefill.muted == 'false' %} selected {% endif %} value="false">False</option>
                </select>
                <input id='previous_muted' value='all' hidden /> 
              </div>
            </div> 
          </div>


          <div class="col-2">
            {% include "includes/measurements-includes/copy-clipboard-search-url.html" %}
          </div>


          <div class="col-2 mt-4">
            <small>
              <strong>Autoload filters</strong>
            </small>
            <input class='ml-2' id='dynamic' type="checkbox" value="">
          </div>

          <div class="col-10"></div>
          <div class="col-2 my-auto">
            <button id="url-form-button" class="btn btn-blue float-right" type="submit">
              <i class="fa fa-search"></i> <strong>Search</strong>
            </button>
          </div>

        </div> 
      </div>   
      
    </nav>


    {% if user.is_analist %} 
      <button type="button" class="btn btn-dark rounded mb-4" id="associateTrigger">
        <i class="fa fa-folder-plus"></i> Add to Case
      </button>
      <button type="button" class="btn btn-dark rounded mb-4" id="confirmTrigger">
        <i class="fa fa-check"></i> Confirm Toggle
      </button>
      <button type="button" class="btn btn-dark rounded mb-4" id="confirmTriggerMuted">
        <i class="fa fa-check"></i> Muted Toggle
      </button>

      <button type="button" class="btn btn-dark rounded ml-1 mb-4" id="detailNewTab">
        <i class="fas fa-info mr-1"></i> Details in New Tab
      </button>
    {% endif %}


    <div class="card rounded p-3 mt-4" style="width: 100%;">
        <table class="table table-striped mt-5 datatable" id="events">
          <thead>
            <tr>
              <th class="text-center" scope="col">Id</th>
              <th class="text-center" scope="col"> </th>
              <th class="text-center" scope="col">Event Type</th>
              <th class="text-center" scope="col">Confirmed</th>
              <th class="text-center" scope="col">Start Date</th>
              <th class="text-center" scope="col">End Date</th>
              <th class="text-center" scope="col">Domain</th>
              <th class="text-center" scope="col">ASN</th>
              <th class="text-center" scope="col">Muted</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
  </form>
  
  <div class="modal fade" id='edit_event' role="dialog"></div>
  {% include "includes/events/detail.html" %}
  {% include "includes/events/associate-with-case.html" %}

{% endblock content %}
{% block custom_scripts %}
  <script type="text/javascript" src="{% static 'plugins/DataTables/datatables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

  

  <script type="text/javascript">
    
    'use strict';
    var events; 
    var casesTable;
    var idLastSaved;
    var previousMuted;

    $( '#muted' ).on('focus', function () {
      $('#previous_muted').val = this.value;
    }).change(function() {
      previousMuted = $('#previous_muted').val;
      console.log(previousMuted);
      $('#previous_muted').val = this.value;
    });

    function open_edit_modal(url){
      $('#edit_event').load(url, function(){
        $(this).modal('show');
      });
    }

    $(' .additional-filter ').change( function() {
      let check = $( '#dynamic' ).is(':checked');
      if (check) {
        events.ajax.reload();
      }
    });

    $( '#associateTrigger' ).click(function(e) {
      jQuery.noConflict();

      $( '#selectedEvents-tbody' ).empty();
      var rSelected = events.rows( { selected: true }).data().toArray();
      var anyRelated = false;

      rSelected.forEach(event => {
        if  (event.case !== '-No case related-') {
          anyRelated = true;
        }

        $( '#selectedEvents-tbody' ).append(
          `<tr>
            <td>${event.issue_type}</td>
            <td>${event.confirmed}</td>
            <td>${event.start_date}</td>
            <td>${event.end_date}</td>
            <td>${event.domain}</td>
            <td>${event.asn}</td>
          </tr>`
        );
      });

      if (rSelected.length === 0){
        Swal.fire({
            icon: "error",
            title: "You must select at least one event",
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Continue"
        });
      } else if ( anyRelated ) {
        Swal.fire({
            icon: "error",
            title: "You must select events with any link to an existing case",
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Continue"
        });
      }
      else {
        $( '#associateModal' ).modal('show');
      }   
    });

    $( '#events' ).on('dblclick', 'tbody tr', function() {

      var id = $( this ).attr( 'id' );
      idLastSaved = id;

      $.ajax({
        url    : "{% url 'dashboard:events:get' %}",
        type   : "GET",
        data   : { 'id': id },
        success: function (json) {

          var url = "{% url 'dashboard:events:detail' pk=1 %}".replace(1, id);
          $( '#identification_detail' ).text(json["identification"]);
          $( '#start_date_detail' ).text(json["start_date"]);
          $( '#end_date_detail' ).text(json["end_date"]);
          $( '#issue_type_detail' ).text(json["issue_type"]);
          $( '#domain_detail' ).text(json["domain"]);
          $( '#asn_detail' ).text(json["asn"]);
          $( '#link' ).attr("href", url);
          if (json['confirmed']) {
            $( '#confirm_toggle' ).attr("checked", "checked");
          }
          if (json['muted']) {
            $( '#confirm_toggle_muted' ).attr("checked", "checked");
          }
          $(' #icon_start ').empty();
          $(' #icon_end ').empty();
          if (json['start_manual']) {
            $(' #icon_start ').append('<i class="fas fa-pencil-alt"></i>');
          } else {
            $(' #icon_start ').append('<i class="fas fa-magic"></i>');
          }
          if (json['end_manual']) {
            $(' #icon_end ').append('<i class="fas fa-pencil-alt"></i>');
          } else {
            $(' #icon_end ').append('<i class="fas fa-magic"></i>');
          }
        }
      });
      jQuery.noConflict();
      
      $("#eventDetail").modal("show");
      
    });

    $('#confirm_toggle').change(function() {

      $.ajax({
        type: "POST",
        url: "{% url 'dashboard:events:confirm' %}",
        data: { events: [idLastSaved] , csrfmiddlewaretoken: "{{ csrf_token }}"},
      });  
      events.ajax.reload() 

    });

    $('#confirm_toggle_muted').change(function() {
      $.ajax({
        type: "POST",
        url: "{% url 'dashboard:events:mute' %}",
        data: { events: [idLastSaved] , csrfmiddlewaretoken: "{{ csrf_token }}"},
      });  
      events.ajax.reload() 

    });


    $( '#associateBtn' ).click(function (event) {
      var eventsSelected = events.rows( { selected: true }).data().toArray();
      
      var eventsSelected = events.rows( { selected: true }).data().toArray().map((selected) => (
        selected.id
      ));
      var casesSelected = casesTable.rows( { selected: true }).data().toArray().map((selected) => (
        selected.title
      ))

      $.ajax({
        type: "POST",
        url: "{% url 'dashboard:events:all' %}",
        data: {events: eventsSelected, cases: casesSelected, csrfmiddlewaretoken: "{{ csrf_token }}"},
        success: function(data) {
          if (data.error === null) {
            Swal.fire({
                icon: "success",
                title: "Successful linking!",
                confirmButtonColor: "#28a745",
                confirmButtonText: "Continue"
            }).then(result => {
                if (result.isConfirmed) {
                    location.reload();
                }
            });
          } else {
            Swal.fire({
                icon: "error",
                title: "Some or all of the selected events are already related to some of the selected cases.",
                text: `${ data.error }`,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Continue"
            });
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          $("associateModal").modal("hide");
          Swal.fire({
              icon: "error",
              title: "There was an error!",
              text: `${ textStatus }, ${ errorThrown }`,
              confirmButtonColor: "#dc3545",
              confirmButtonText: "Continue"
          });
        }
      });
    });
    
    $( '#detailNewTab' ).click(function (event) {
      var selectedRows = events.rows( { selected: true }).data().toArray().map(
        (selected) => selected.id
      );

      if (selectedRows.length < 1) { 
        Swal.fire({
          icon: "warning",
          title: "You must select at least one row to get the details.",
          confirmButtonColor: "#ffc107",
          confirmButtonText: "Continue",
        });
      } else {
        selectedRows.forEach(function(id){
          window.open("{% url 'dashboard:events:detail' pk=1 %}".replace(1, id), '_blank')
        });
      }


    });

    $( '#confirmTrigger' ).click(function(e) {
      jQuery.noConflict();

      $( '#selectedEvents-tbody' ).empty();
      var rSelected = events.rows( { selected: true }).data().toArray();


        rSelected.forEach(event => {
            $('#selectedEvents-tbody').append(
                `<tr>
            <td>${event[0]}</td>
            <td>${event[1]}</td>
            <td>${event[2]}</td>
            <td>${event[3]}</td>
            <td>${event[4]}</td>
            <td>${event[5]}</td>
          </tr>`
            );
        });

        if (rSelected.length === 0) {
            Swal.fire({
                icon: "error",
                title: "You must select at least one event",
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Continue"
            });
        } else {
            var eventsSelected = events.rows({ selected: true }).data().toArray();

            var eventsSelected = events.rows({ selected: true }).data().toArray().map((selected) => (
                selected.id
            ));

            $.ajax({
                type: "POST",
                url: "{% url 'dashboard:events:confirm' %}",
                data: { events: eventsSelected , csrfmiddlewaretoken: "{{ csrf_token }}"},
                success: function (data) {
                    if (data.error === null) {
                        Swal.fire({
                            icon: "success",
                            title: "Successful Confirm status change!",
                            confirmButtonColor: "#28a745",
                            confirmButtonText: "Continue"
                        }).then(result => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Bad request.",
                            text: `${data.error}`,
                            confirmButtonColor: "#dc3545",
                            confirmButtonText: "Continue"
                        });
                    }
                
                }
            });
        }
    });


    $( '#confirmTriggerMuted' ).click(function(e) {
      jQuery.noConflict();

      $( '#selectedEvents-tbody' ).empty();
      var rSelected = events.rows( { selected: true }).data().toArray();


        rSelected.forEach(event => {
            $('#selectedEvents-tbody').append(
                `<tr>
            <td>${event[0]}</td>
            <td>${event[1]}</td>
            <td>${event[2]}</td>
            <td>${event[3]}</td>
            <td>${event[4]}</td>
            <td>${event[5]}</td>
          </tr>`
            );
        });

        if (rSelected.length === 0) {
            Swal.fire({
                icon: "error",
                title: "You must select at least one event",
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Continue"
            });
        } else {
            var eventsSelected = events.rows({ selected: true }).data().toArray();

            var eventsSelected = events.rows({ selected: true }).data().toArray().map((selected) => (
                selected.id
            ));

            $.ajax({
                type: "POST",
                url: "{% url 'dashboard:events:mute' %}",
                data: { events: eventsSelected , csrfmiddlewaretoken: "{{ csrf_token }}"},
                success: function (data) {
                    if (data.error === null) {
                        Swal.fire({
                            icon: "success",
                            title: "Successful Confirm status change!",
                            confirmButtonColor: "#28a745",
                            confirmButtonText: "Continue"
                        }).then(result => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Bad request.",
                            text: `${data.error}`,
                            confirmButtonColor: "#dc3545",
                            confirmButtonText: "Continue"
                        });
                    }
                
                }
            });
        }
    });

    $(document).ready(function() {

      // Set up copy search url
      updateSearchUrl();

      // Whenever you change some field in search form, update search url
      $(".additional-filter").change(updateSearchUrl);

      // When click in copy url btn, copy to clip board
      $("#copy-search-url-btn").click(function (e) {
        e.preventDefault();
        // Get the text element whose value is going to get copied into clipboard
        let $textArea = $("#copy-search-url");

        const messageTimeToShow = 5000; // how long success-error messages will show up

        // Focus and select such field
        $textArea.focus();
        $textArea.select();

        // Status messages
        let $successMessage = $("#copy-clipboard-success");
        let $errorMessage = $("#copy-clipboard-error");

        // Try to copy into clipboard
        try {
          var success = document.execCommand("copy");

          // If everything ok, show a success message and
          // remove it after a few seconds
          if (success) {
            $successMessage.attr("hidden", false);
            setTimeout(function () {
              $successMessage.attr("hidden", true);
            }, messageTimeToShow);
          }
          // If something went wrong, show an error message for a few seconds
          else {
            $errorMessage.attr("hidden", false);
            setTimeout(function () {
              $errorMessage.attr("hidden", true);
            }, messageTimeToShow);
          }
        } catch (err) {
          alert("there was an error: " + err);
        }
      });

      // Callback function called on init or when some filter field changed:
      function updateSearchUrl() {
        // base url
        let url = 'http://' + "{{request.get_host}}" + "{% url 'dashboard:events:all' %}?";

        // Get params by name and value
        let params = {};
        let $filters = $(".additional-filter");
        for (var i = 0; i < $filters.length; i++) {
          let filter = $filters[i];
          // If they have no value, don't include them in resulting url
          if (filter.value) params[filter.name] = filter.value;
        }

        // Serialize object into query string
        let args = $.param(params);

        // Update field value
        $("#copy-search-url").val(url + args);
      }

      events = $('#events').DataTable({
        order: [[0, "asc"]],
        searching: true,
        processing: true,
        language: {
        },
        serverSide: true,
        rowId: "id",
        ajax: {
          url: '{% url "dashboard:events:data" %}',
          data: function (data) {
            data.identification = $("#identification").val() ;
            data.confirmed = $("#confirmed").val();
            data.start_time = $("#start_time").val();
            data.end_time = $("#end_time").val();
            data.issue_type = $("#issue_type").val();
            data.domain = $("#domain").val();
            data.asn = $("#asn").val();
            data.muted = $("#muted").val();



            /* TO DO, FIRST LOAD MUTED FALSE BY DEFAULT*/
          },
          contentType: "application/json; charset=utf-8",  
          type: "GET",
        },
        columnDefs: [ 
          {
            className: 'select-checkbox',
            targets:   1
          },
        ],
        columns: [
          {
            data: 'id',
            orderable: true,
            searchable: true,
          },
          {
            data: 'identificator',
            orderable: false,
            render: function (data, type, row, meta) { 
              return `<div class="p-2"></div>`
            }
          },
          {
            data: "issue_type",
            orderable: true,
            searchable: true,
          },
          {
            data: "confirmed",
            orderable: true,
            searchable: false,
            render: function (data, type, row, meta) {
              if (data) {
                return `<div class="text-success w-100 text-center">
                          <i class="far fa-check-circle text-success" title="Event is Confirmed"></i>
                        </div>`
              } else {
                return `<div class="text-danger w-100 text-center">
                          <i class="far fa-check-circle text-default" title="Event not Confirmed"></i>
                        </div>`
              }
            },
          },
          {
            data: "start_date",
            orderable: true,
            searchable: true,
          },
          {
            data: "end_date",
            orderable: true,
            searchable: true,
          },
          {
            data: "domain",
            orderable: false,
            searchable: true,
          },
          {
            data: "asn",
            orderable: false,
            searchable: true,
          },
          {
            data: "muted",
            orderable: true,
            searchable: false,
            render: function (data, type, row, meta) {
              if (data) {
                return `<div class="text-success w-100 text-center">
                          <i class="far fa-check-circle text-success" title="Muted Event"></i>
                        </div>`
              } else {
                return `<div class="text-danger w-100 text-center">
                          <i class="far fa-check-circle text-default" title="Event not Muted"></i>
                        </div>`
              }
            },
          },
        ],
        initComplete: function () {},
        buttons: [],
        select: {
          style: 'multi',
          
        },
      });
      
      casesTable = $("#cases-table").DataTable({
        order: [[1, "desc"]],
        searching: true,
        processing: true,
        language: {
        },
        serverSide: true,
        rowId: "id",
        ajax: {
          url: '{% url "dashboard:event_cases:data" %}',
          data: function (data) {
          },
          contentType: "application/json; charset=utf-8",  
          type: "GET",
        },
        columns: [
          {
            data: "title",
            orderable: true,
            searchable: true,
          },
          {
            data: "start_date",
            orderable: true,
            searchable: true,
          },
          {
            data: "end_date",
            orderable: true,
            searchable: true,
          },
          {
            data: "category",
            orderable: true,
            searchable: true,
          },
          {
            data: "published",
            orderable: false,
            searchable: true,
            render: function (data, type, row, meta) {
              if (data) {
                return `<div class="text-success w-100 text-center">
                          <i class="far fa-check-circle text-success"></i>
                      </div>`
              } else {
                return `<div class="text-danger w-100 text-center">
                          <i class="far fa-check-circle text-default"></i>
                      </div>`
              }            
            },
          }
        ],
        initComplete: function () {},
        buttons: [],
        select: {
            style: 'single'
        },
      });


    });

  </script>

{% endblock custom_scripts %}


