{% load widget_tweaks %}

<!-- Modal -->
<div class="modal fade" data-dismiss="modal" data-toggle="modal" id="assignCategory" tabindex="-1" role="dialog" aria-labelledby="assignCategoryLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assignCategoryLabel">Associate Category with Sites</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">

          <form id="assignCategoryForm" method="POST">
            {% csrf_token %}
            

            <label class="font-weight-bold my-4">Sites to assign:</label>
            <div class="card rounded mb-3 p-4 bg-transparent">
                <table class="table table-striped" id="sitesSelected">
                  <thead>
                    <tr>
                      <th class="" scope="col">Site</th>
                      <th class="" scope="col">Category</th>
                    </tr>
                  </thead>
                  <tbody id="vsf-grouped-sites">
                    <!-- The body of this table is injected with JS -->
                  </tbody>
                </table>
              </div>

            <div class="form-group buttons-modal float-right mt-4">
              <button id='' type="button" class="btn btn-danger" data-dismiss="modal" >
                Close
              </button>
              <button id="assignCategoryConfirm" type="button" class="btn btn-info">
                Save changes
              </button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
