{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block tab_title %} Title {% endblock tab_title %}</title>

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'img/vesinfiltro.png' %}" type="image/x-icon">
    
    {% block style %}
      <link href="{% static 'css/vendor.css' %}" rel="stylesheet" />
    {% endblock style %}

    {% block custom_style %} {% endblock custom_style %}
  </head>
  <body>

    <div class="auth-wrapper">
      <div class="auth-content">
        <div class="card">
          <div class="row align-items-center text-center">
            <div class="col-md-12">
              <div class="card-body">
                <img height="30px" src="{% static 'img/logo-light.png' %}" alt="" class="mb-4">
                <h4 class="mb-3 f-w-400">
                  {% block title %} Title {% endblock title %}
                </h4>
                {% block body %} some form {% endblock body %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block script %}
      <script src="{% static 'js/vendor-all.min.js' %}"></script>
      <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/pcoded.min.js' %}"></script>

    {% endblock script %}

    {% block custom_script %} {% endblock custom_script %}
  </body>
</html>
