{% extends 'extends/base.html' %}
{% load static %}
{% block custom_stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/DataTables/datatables.min.css' %}" /> 
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.css' %}" /> 
<style>
  .pcoded-main-container {
      width: -webkit-fill-available;
  }
</style>
{% endblock custom_stylesheet %}

{% block tab_title %} VSF - Event {{object.title}} {% endblock tab_title %}
{% block title %} Events {% endblock title %}
{% block sub_title %} Edit Measurements of Event {% endblock sub_title %}

{% block route %}

<li class="breadcrumb-item">
  <a href="{% url home %}"><i class="feather icon-home"></i></a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'dashboard:events:all' %}">Events List</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'dashboard:events:detail' object.id %}">Event Detail</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'dashboard:events:detail' object.id %}">Events Measurements</a>
</li>

{% endblock route %}
{% block content %}

<form id="urlForm">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary float-right mb-4 ml-3 confirm" type="button">
        Confirm Changes
      </button>
    </div>
  </div>

  <div class="col-12" id="upper-card">
      <div class="card" id="related-measuerements-card">
          <div class="card-header">
            <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#related-measurements" aria-expanded="true" aria-controls="related-measurements">Related Measurements</a></h5>
          </div>
          <div class="collapse show" id="related-measurements">
              <div class="card-body p-3">
                <table class="table table-striped mt-5 datatable" id="related-measurements-datatable">
                  <thead>
                      <th class="text-center" scope="col">Input</th>
                      <th class="text-center" scope="col">Type</th>
                      <th class="text-center" scope="col">Start Time</th>
                      <th class="text-center" scope="col">ASN</th>
                      <th class="text-center" scope="col">Country</th>
                      <th class="text-center" scope="col">Site</th>
                      <th class="text-center" scope="col">Anomaly</th>
                      <th class="text-center" scope="col">Remove from this event?</th>
                  </thead>
                  <tbody>
                      {% for measurement in measurements %}
                        <tr >
                          <td> {{measurement.input}} </td>
                          <td> {{measurement.test_name}} </td>
                          <td> {{measurement.measurement_start_time}} </td>
                          <td> {{measurement.probe_asn}} </td>
                          <td> {{measurement.probe_cc}} </td>
                          <td> {{measurement.site}} </td>
                          <td> {{measurement.anomaly}} </td>
                          <td>
                            <input class="form-check-input del" type="checkbox" value="" id="{{measurement.id}}">
                          </td>
                        </tr>
                      {% endfor %}
                  </tbody>
                  <tfoot></tfoot>
                </table>
              </div>
          </div>
      </div>
  </div>


  <div class="col-12" id="upper-card">
      <div class="card" id="selected-measuerements-card">
          <div class="card-header">
            <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#selected-measurements" aria-expanded="true" aria-controls="selected-measurements">Selected Measurements</a></h5>
          </div>
          <div class="collapse show" id="selected-measurements">
              <div class="card-body p-3">
                <table class="table table-striped mt-5 datatable" id="selector-measurements-datatable">
                  <thead>
                      <th class="text-center" scope="col">Input</th>
                      <th class="text-center" scope="col">Type</th>
                      <th class="text-center" scope="col">Start Time</th>
                      <th class="text-center" scope="col">ASN</th>
                      <th class="text-center" scope="col">Country</th>
                      <th class="text-center" scope="col">Site</th>
                      <th class="text-center" scope="col">Anomaly</th>
                      <th class="text-center" scope="col"></th>
                  </thead>
                  <tbody>
                  </tbody>
                  <tfoot></tfoot>
                </table>
              </div>
          </div>
      </div>
  </div>


  <div class="col-12" id="upper-card">
      <div class="card" id="measuerements-card">
          <div class="card-header">
            <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#measurements" aria-expanded="true" aria-controls="measurements">Measurements to choose</a></h5>
          </div>
          <div class="collapse show" id="measurements">
              <div class="card-body p-3">



                <div class="row">

                  <div class="col-6">
                    <input
                    id="input"
                    class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
                    type="search"
                    placeholder="URL"
                    aria-label="Search URL"
                    value="{{ prefill.input }}"
                    name="input"
                    />
                  </div>
        
                  <div class="col-3">
                    <div class="row align-items-center">
                      <div class="col-3 mx-auto">
                        <label class='font-weight-bold'>
                          Since
                        </label>
                      </div>
                      <div class="col-9 mx-auto">
                        <input id="since" class="text-secondary form-control mr-2 additional-filter" type="date" value="{{ prefill.since }}" name="since"/>
                      </div>
                    </div> 
                  </div>
        
                  <div class="col-3">
                    <div class="row align-items-center ml-1">
                      <div class="col-3 mx-auto">
                        <label class='font-weight-bold'>
                          Until
                        </label>
                      </div>
                      <div class="col-9 mx-auto">
                        <input id="until" class="text-secondary form-control mr-2 additional-filter" type="date" value="{{ prefill.until }}" name='until'/>
                      </div>
                    </div> 
                  </div>

                </div>

                <div class="row mt-3">

                  <div class="col-3 mt-3">
                    <div class="row align-items-center ml-1">
                      <div class="col-3 mx-auto">
                        <label class='font-weight-bold' for="asn">
                          ASN
                        </label>
                      </div>
                      <div class="col-9 mx-auto">
                        <select id="asn" class="custom-select additional-filter" name="asn">
                          <option value="">Any ASN</option>
                          {% for asn in asns %}
                            <option 
                            {% if asn.asn == prefill.asn %} selected {% endif %}
                            value="{{ asn.asn }}" 
                            >
                            {{ asn.asn }} - {{ asn.name }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div> 
                  </div>
                  
        
                  <div class="col-3 mt-3">
                    <div class="row align-items-center ml-1">
                      <div class="col-4 mx-auto">
                        <label class="font-weight-bold" for="test-name">Test Type</label>
                      </div>
                      <div class="col-8 mx-auto">
                        <select id="test-name" class="custom-select additional-filter" name="test_name">
                          <option selected value="">Choose Test Type</option>
                          {% for test in test_types %}
                            <option {% if prefill.test_name == test.value %} selected {% endif %} value="{{ test.value }}">
                              {{ test.name }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div> 
                  </div>
                      
        
                  <div class="col-3 mt-3">
                    <div class="row align-items-center">
                      <div class="col-4 mx-auto">
                        <label class="font-weight-bold" for="anomaly-state">Anomaly</label>
                      </div>
                      <div class="col-8 mx-auto">
                        <select id="anomaly-state" class="custom-select additional-filter" name="anomaly">
                          <option selected value="">Any</option>
                          <option {% if prefill.anomaly == 'false' %} selected {% endif %} value="false">
                            Anomaly False
                          </option>
                          <option {% if prefill.anomaly == 'true' %} selected {% endif %}value="true">
                            Anomaly True
                          </option>
                        </select>
                      </div>
                    </div> 
                  </div>
                      
        
                  <div class="col-3 mt-3">
                    <div class="row align-items-center ml-1">
                      <div class="col-4 mx-auto">
                        <label class="font-weight-bold" for="site">Site</label>
                      </div>
                      <div class="col-8 mx-auto">
                        <select class="custom-select additional-filter" id="site" name="site">
                          <option selected value="">
                            Any Site
                          </option>
                          {% for site in sites %}
                            <option value="{{ site.id }}" title="{{ site.description }}" {% if prefill.site == site.id|stringformat:"i" %} selected {% endif %}>
                              {{ site.name }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>   
                  </div>

                </div>

                <div class="row mt-3 mb-5">

                  <div class="col-4 mt-3 ">
                    <div class="row align-items-center rounded p-2">
                      <div class="col-4 mx-auto">
                        <label class="font-weight-bold" for="flag">Flag Existence</label>
                      </div>
                      <div class="col-8 mx-auto">
                        <select class="custom-select additional-filter select2" id="flag" name="flag" multiple="multiple">
                          {% for flag in flags %}
                            <option {% if flag in prefill.flags %} selected {% endif %} value="{{ flag }}">
                              {{ flag }}
                            </option>
                          {% endfor %}

                        </select>
                      </div>
                    </div> 
                  </div>

                  <div class="col-8"></div>
                </div>

                <table class="table table-striped mt-5 datatable" id="measurements-datatable">
                  <thead>
                      <th class="text-center" scope="col"> </th>
                      <th class="text-center" scope="col">Input</th>
                      <th class="text-center" scope="col">Type</th>
                      <th class="text-center" scope="col">Start Time</th>
                      <th class="text-center" scope="col">ASN</th>
                      <th class="text-center" scope="col">Country</th>
                      <th class="text-center" scope="col">Site</th>
                      <th class="text-center" scope="col">Anomaly</th>
                  </thead>
                  <tbody>
                  </tbody>
                  <tfoot></tfoot>
                </table>


              </div>
          </div>
      </div>
  </div>

  <button class='btn btn-primary btn-block confirm' type="button">
    Confirm Changes
  </button>

</form>




{% endblock content %}
{% block custom_scripts %}
<script type="text/javascript" src="{% static 'plugins/DataTables/datatables.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>

<script>

    var selected = [];
    var measurement_table;
    var measurements_selected = $( '#selector-measurements-datatable' ).DataTable();
    
    $( '#measurements-datatable' ).on('click', 'tbody tr', function() {
      var id = this.id;
      var index = $.inArray(id, selected);
      var row = measurement_table.rows("#" + id).data().toArray();

      if ( index === -1 ) {
          selected.push( id );
          console.log(row[0]);
          measurements_selected.row.add([
            row[0].raw_measurement__input,
            row[0].raw_measurement__test_name,
            row[0].raw_measurement__measurement_start_time,
            row[0].raw_measurement__probe_asn,
            row[0].raw_measurement__probe_cc,
            row[0].site_name,
            row[0].anomaly,
            `<button type='button' class='btn pt-0' id=${id}>
              <i class="fas fa-trash text-danger"></i>
            </button>`
          ]).node().id = id;
          measurements_selected.draw();
      } else {
          selected.splice( index, 1 );
          measurements_selected.row('#' + id).remove().draw();
      }

      $(this).toggleClass('selected');
  });

    $(' .additional-filter ').change( function() {
      measurement_table.ajax.reload();
    });

    $('.select2').select2({
      theme: "flat",
      allowClear: true,
      placeholder: "Select flags existence"
    }).on("select2:unselecting", function(e) {
      $(this).data('state', 'unselected');
    }).on("select2:open", function(e) {
      if ($(this).data('state') === 'unselected') {
        $(this).removeData('state'); 

        var self = $(this);
        setTimeout(function() {
            self.select2('close');
        }, 1);
      }    
    });


    var related_submeasures = $( '#related-measurements-datatable' ).DataTable();
    measurement_table = $( '#measurements-datatable' ).DataTable({
      order: [[3, "desc"]],
      searching: true,
      processing: true,
      language: {
      },
      serverSide: true,
      rowId: "id",
      rowCallback: function( row, data ) {
        if ( $.inArray(data.id.toString(), selected) !== -1 ) {
            $(row).addClass('selected');
        }
      },
      ajax: {
        url: '{% url "dashboard:measurement:list_measurements_data" %}',
        data: function (data) {

          data.since = $("#since").val();
          data.until = $("#until").val();
          data.asn = $("#asn").val();
          data.test_name = $("#test-name").val();
          data.anomaly = $("#anomaly-state").val();
          data.input = $("#input").val();
          data.site = $("#site").val();
          data.flags = $("#flag").val();
          console.log(data);
        },
        contentType: "application/json; charset=utf-8",  
        type: "GET",
      },
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      rowId: "id",
      columns: [
        {
          data: 'id',
          orderable: false,
          render: function (data, type, row, meta) { 
            return `<div class="p-2"></div>`
          }
        },
        {
          data: "raw_measurement__input",
          orderable: true,
          searchable: true,
          render: function (data, type, row, meta) {
            return `<div class='wrapper-dt'> ${data} </div>`
          }
        },
        {
          data: "raw_measurement__test_name",
          orderable: true,
          searchable: true,
        },
        {
          data: "raw_measurement__measurement_start_time",
          orderable: true,
          searchable: true,
        },
        {
          data: "raw_measurement__probe_asn",
          orderable: true,
          searchable: true,
        },
        {
          data: "raw_measurement__probe_cc",
          orderable: true,
          searchable: true,
        },
        {
          data: "site_name",
          orderable: true,
          searchable: true,
        },
        {
          data: "anomaly",
          orderable: true,
          searchable: true,
        },
      ],
      initComplete: function () {},
      buttons: [],
      select: {
        style: 'multi'
      },
    });


    $( '.confirm' ).click(function (e) {
      var measurements_selected = []
      var measurements_to_delete = []
      

      measurements_to_delete = $('.del:checkbox:checked').toArray().map((selected) => (
        selected.id
      ));

      $.ajax({
        timeout: 300000,
        type: "POST",
        url: "{% url 'dashboard:events:edit_measurements' object.id %}",
        data: {
          measurements_selected: selected, 
          measurements_to_delete: measurements_to_delete, 
          event_id: "{{object.id}}",
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(data) {
          if (data.error === null) {
            Swal.fire({
                icon: "success",
                title: "Edit Successful!",
                confirmButtonColor: "#28a745",
                confirmButtonText: "Continue"
            }).then(result => {
                if (result.isConfirmed) {
                    location.reload();
                }
            });
          } else {
            Swal.fire({
                icon: "error",
                title: "Error",
                text: `${ data.error }`,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Continue"
            });
          }
        }
      });
    });

  
</script>
{% endblock custom_scripts %}