<!--
  ========================================
  MAIN DNS LISTING
  ========================================
 -->

 {% extends 'extends/base.html' %}

 {% load static %}
 
 {% block custom_stylesheet %}
 <link
   rel="stylesheet"
   type="text/css"
   href="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/sl-1.3.1/datatables.min.css"
 />
 <link rel=stylesheet
   href="https://cdn.jsdelivr.net/npm/pretty-print-json@0.3/dist/pretty-print-json.css"
 />
 {% endblock custom_stylesheet %}
 
 {% block tab_title %} VSF - Controls {% endblock tab_title %}
 {% block title %} Controls {% endblock title %}
 
 {% block sub_title %} run some functions to make some changes in the database {% endblock sub_title %}
 
 {% block route %}
 <li class="breadcrumb-item">
   <a href="{% url home %}">Home</a>
 </li>
 <li class="breadcrumb-item active">Control Panel</li>
 {% endblock route %}
 
 {% block content %}
 <div class="container">
     <form action="#" id="request-fp-data-form" class="trigger-action-form" method="POST"> {% csrf_token %}
        <div class="fp-data">
            <h3> <strong> Request Fastpath Data </strong> </h3>
            <small> Update our FastPath table and try to get some new measurements </small> <br>
            <small>
                <strong> State for {{update_fastpath.name}}: </strong> 
                <div id="{{update_fastpath.name}}" class='process-state-show'> 
                  {{update_fastpath.state}}
                </div> 
            </small><br>
            <label for="request-fp-data-since">Since</label>
            <input type="date" name="since" id="request-fp-data-since" placeholder="yyyy-mm-dd"> <br>
            <label for="request-fp-data-until">Until</label>
            <input type="date" name="until" id="request-fp-data-until"> <br>
            <label for="reqest-fp-data-from-fastpath">Only Fastpath?</label>
            <input type="checkbox" name="only_fastpath" id="reqest-fp-data-from-fastpath">
            <input type="text" value="{{control_types.FASTPATH}}" hidden name="control_type">
        </div>
        <button type="submit">Send</button>
        <small id="fastpath-waiting" class="waiting-message" hidden>This may take a while...</small>
     </form>

     <form action="#" id="measurement-recovery-form" class="trigger-action-form" method="POST"> {% csrf_token %}
      <div class="measurement-recovery">
          <h3> <strong> Measurement Recovery </strong> </h3>
          <small> Try to retrieve the missing data for every incomplete measurements </small> <br>
          <small>
              <strong> State for {{measurement_recovery.name}}: </strong> 
              <div id="{{measurement_recovery.name}}" class='process-state-show'> 
                {{measurement_recovery.state}}
              </div> 
          </small><br>
          <input type="text" value="{{control_types.MEASUREMENT_RECOVERY}}" hidden name="control_type">
      </div>
      <button type="submit">Send</button>
      <small id="measurement-recovery-waiting" class="waiting-message" hidden>This may take a while...</small>
   </form>
 </div>



 {% endblock content %}
 
 {% block custom_scripts %}
 <script>
    'use strict';

    /*
      Every task control has its state-showing element
      called after the process it is monitoring. This JS
      sends a post request every 2 seconds to the control panel
      view so it can check the state of every process. Once
      the state is obteained, it is rendered in every state-showing
      element by printing the state name with a meaningfull color.
    */
    $(document).ready(function (){

      let responding = false;
      let control_types = {
        fastpathUpdate : '{{control_types.FASTPATH}}',
        measurementRecovery : '{{control_types.MEASUREMENT_RECOVERY}}'
      };
      let states = {
        starting  : '{{states.STARTING}}',
        running   : '{{states.RUNNING}}',
        idle      : '{{states.IDLE}}',
        failing   : '{{states.FAILING}}',
        failed    : '{{states.FAILED}}',
      };

      /*
        Set a function to update the state of the process rendered 
        in the html.
      */
      window.setInterval(function(){
        // If there's a request on its way here, wait until it arrives
        if (responding)
          return

        // Get fp state-showing element
        let fp_update_name = $("#update-fastpath").data("process-name")

        // Get every element name
        let _process = $('.process-state-show').map((i, element) => element.id);
        let process = []
        for(const p of _process) process.push(p);

        // send an array with the process whose state we are trying to check
        let data = {
          'process' : process,
          'csrfmiddlewaretoken' : '{{csrf_token}}'
        }
        console.log(data)
        responding = true;
        $.ajax({
          url : "{% url 'dashboard:control_panel:process_state' %}",
          type : "POST",
          data : data,
          success : function (data) {
            responding = false;
            let status = Object.entries(data.process_status);
            status.forEach(proc => {
              // $("#" + proc[0]).text(proc[1])
              update_state($("#" + proc[0]), proc[1])
            });
          },
          error   : () => {console.log("error retrieving process state"); responding=false}
        })

      }, 2000);

      // Update fastpath triggered
      $(".trigger-action-form").submit(function (e){
          e.preventDefault(); // prevent the form to trigger
          //let waiting_message = document.getElementById('fastpath-waiting');
          let waiting_message = $("#" + e.target.id + " > .waiting-message")
          waiting_message.hidden = false;

          // show the waiting message
          // Send the request
          $.ajax({
              url : "{% url 'dashboard:control_panel:controls' %}",
              data : $("#" + e.target.id).serialize(),
              type : 'POST',
              success : () => {alert("Everything ok"); waiting_message.hidden = true;},
              error: () => {alert("There was an error"); waiting_message.hidden = false;}
          })        
      });
      
      // --- Aux functions --- //

      /*
        Format the provided html element depending on
        the given state
      */
      function update_state($state_element, state){
        $state_element.text(state);
        // Clear possible colors
        $state_element.removeClass('text-warning');
        $state_element.removeClass('text-danger');
        $state_element.removeClass('text-success');
        $state_element.removeClass('text-info');
        $state_element.removeClass('text-secondary');
        switch (state) {
          case states.running:
            $state_element.addClass('text-success');
            break;
          case states.starting:
            $state_element.addClass('text-info');
            break;
          case states.failing:
            $state_element.addClass('text-warning');
            break;
          case states.failed:
            $state_element.addClass('text-danger');
            break;
          default:
            $state_element.addClass('text-secondary');
        }
      }
      
    });

 </script>
 {% endblock custom_scripts %}
 