#layoutAuthentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

#layoutAuthentication #layoutAuthentication_content {
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#layoutAuthentication #layoutAuthentication_footer {
  min-width: 0;
}

#layoutAuthentication .nav.sb-sidenav-dark.flex-column {
  overflow-y: auto;
}

.sb-nav-fixed {
  top: 56px;
}

#layoutError {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

#layoutError #layoutError_content {
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#layoutError #layoutError_content #layoutError_footer {
  min-width: 0;
}

#sidenavMenu {
  z-index: 1000;
}

.img-error {
  max-width: 20rem;
}

.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
  margin-right: 0.5rem;
}

.sb-topnav {
  padding-left: 0;
  height: 56px;
  z-index: 1039;
}

.sb-topnav .navbar-brand {
  width: 225px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

.sb-topnav.navbar-dark #sidebarToggle {
  color: rgba(255, 255, 255, 0.5);
}

.sb-topnav.navbar-light #sidebarToggle {
  color: #212529;
}

.nav.sb-sidenav-dark.flex-column .sb-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav.sb-sidenav-dark.flex-column .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
}

.nav.sb-sidenav-dark.flex-column .nav-link .sb-nav-link-icon {
  font-size: 0.9rem;
}

.nav.sb-sidenav-dark.flex-column .nav-link .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}

.nav.sb-sidenav-dark.flex-column .sb-sidenav-menu-nested {
  margin-left: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav.sb-sidenav-dark.flex-column .sb-sidenav-footer {
  padding: 0.75rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sb-sidenav-dark {
  background-color: #212529;
  color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark .sb-sidenav-footer {
  background-color: #343a40;
}

.nav.sb-sidenav-dark.flex-column .sb-sidenav-menu-heading {
  color: rgba(255, 255, 255, 0.25);
}

.nav.sb-sidenav-dark.flex-column .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.nav.sb-sidenav-dark.flex-column .nav-link .sb-nav-link-icon {
  color: rgba(255, 255, 255, 0.25);
}

.nav.sb-sidenav-dark.flex-column .nav-link .sb-sidenav-collapse-arrow {
  color: rgba(255, 255, 255, 0.25);
}

.nav.sb-sidenav-dark.flex-column .nav-link:hover {
  color: #fff;
}

.nav.sb-sidenav-dark.flex-column .nav-link.active {
  color: #fff;
}

.nav.sb-sidenav-dark.flex-column .nav-link.active .sb-nav-link-icon {
  color: #fff;
}
/*# sourceMappingURL=customized-template-base.css.map */