/*
=====================================
THIS IS SCSS FILE THAT CONTAINS SOME MISC CUSTOM RULES
=====================================
*/

.vsf-flex-grow-1 {
 flex-grow: 1;
}

textarea.vsf-form-control {
    height: 10rem;
    min-height: 10rem;
}

.dt-buttons-custom {
    width: 49.98888888%;
}

.vsf-append-input-range {
    flex: 1 1 auto;
    width: 1%;
}