
<!--
  ========================================
  LIST OF EXISTENT SITES
  ========================================
-->

{% extends 'extends/base.html' %}
{% load static %}
{% with home='dashboard:home' %}

{% block tab_title %} VSF - Sites {% endblock tab_title %}

{% block title %} Sites {% endblock title %}
{% block sub_title %} List of all available Sites {% endblock sub_title %}

{% block route %}
<li class="breadcrumb-item"><a href="{% url 'dashboard:site:list_sites' %}">Home</a></li>
<li class="breadcrumb-item active">Sites</li>
{% endblock route %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Input</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="input-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Test Name</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="test-name-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Measurement Start Time</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="measurement-start-time-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Probe ASN</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="probe-asn-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize text-center text-uppercase"
        >Test Keys</strong
      >
    </div>
    <div class="col-8">
      <p>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTestKeys"
          aria-expanded="false"
          aria-controls="collapseTestKeys"
        >
          Show Test Keys
        </button>
      </p>
    </div>

    <div class="col-12 mt-2">
      <div class="collapse" id="collapseTestKeys">
        <div class="card card-body">
          <pre id="test-keys-detailed"></pre>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Annotations</strong>
    </div>
    <div class="col-8">
      <pre class='text-white' id="annotations-detailed"></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Bucket Date</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="bucket-date-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Data Format Version</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="data-format-version-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Options</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="options-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Probe CC</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="probe-cc-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Probe IP</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="probe-ip-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Report Filename</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="report-filename-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Report ID</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="report-id-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Software Name</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="software-name-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Software Version</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="software-version-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Test Helpers</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="test-helpers-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Test Runtime</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="test-runtime-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Test Start Time</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="test-start-time-detailed"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <strong class="text-capitalize">Test Version</strong>
    </div>
    <div class="col-8">
      <p class='text-white' id="test-version-detailed"></p>
    </div>
  </div>
</div>

{% endblock content %}

{% block custom_scripts %}
<script>

  $("#annotations-detailed").jsonViewer("{{ measurement.raw_measurement.annotations }}", {
    collapsed: true,
    rootCollapsable: false
  });
  $("#bucket-date-detailed").text("{{ measurement.raw_measurement.bucket_date }}");
  $("#data-format-version-detailed").text(
    "{{ measurement.raw_measurement.data_format_version }}"
  );
  $("#input-detailed").text("{{ measurement.raw_measurement.input }}");
  $("#measurement-start-time-detailed").text(
    "{{ measurement.raw_measurement.measurement_start_time }}"
  );
  $("#options-detailed").text("{{ measurement.raw_measurement.options }}");
  $("#probe-asn-detailed").text("{{ measurement.raw_measurement.probe_asn }}");
  $("#probe-cc-detailed").text("{{ measurement.raw_measurement.probe_cc }}");
  $("#probe-ip-detailed").text("{{ measurement.raw_measurement.probe_ip }}");
  $("#report-filename-detailed").text(
    "{{ measurement.raw_measurement.report_filename }}"
  );
  $("#report-id-detailed").text("{{ measurement.raw_measurement.report_id }}");
  $("#software-name-detailed").text(
    "{{ measurement.raw_measurement.software_name }}"
  );
  $("#software-version-detailed").text(
    "{{ measurement.raw_measurement.software_version }}"
  );
  $("#test-helpers-detailed").jsonViewer("{{ measurement.raw_measurement.bucket_date }}", {
    collapsed: true,
    rootCollapsable: false
  });
  $("#test-keys-detailed").jsonViewer("{{ measurement.raw_measurement.test_keys }}", {
    collapsed: true,
    rootCollapsable: false
  });
  $("#test-name-detailed").text("{{ measurement.raw_measurement.test_name }}");
  $("#test-runtime-detailed").text(
    "{{ measurement.raw_measurement.test_runtime }}"
  );
  $("#test-start-time-detailed").text(
    "{{ measurement.raw_measurement.test_start_time }}"
  );
  $("#test-version-detailed").text(
    "{{ measurement.raw_measurement.test_version }}"
  );
</script>
{% endblock custom_scripts %}

{% endwith %}
