{% extends 'extends/base.html' %}
{% load static %}

{% block custom_stylesheet %}
<link rel=stylesheet
  href="https://cdn.jsdelivr.net/npm/pretty-print-json@0.3/dist/pretty-print-json.css"
/>
<style>
    .pcoded-main-container {
        width: auto;
    }
    #header {
        width: 270%;
    }
</style>
{% endblock custom_stylesheet %}


{% block tab_title %} VSF - Measurement Detail {% endblock tab_title %}
{% block title %} Measurement Detail {% endblock title %}
{% block sub_title %} Specific details of the measurement with id: {{ rawmeasurement.id }}{% endblock sub_title %}

{% block route %}

<li class="breadcrumb-item">
    <a href="{% url home %}"><i class="feather icon-home"></i></a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'dashboard:measurement:list_measurements' %}">Measurements List</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'dashboard:measurement:detail' pk=rawmeasurement.id %}">Measurement Detail</a>
</li>

{% endblock route %}

{% block content %}

    <div class="card p-5 bg-success" id="header">  
        <div class="row mb-5">
            <div class="col-3">

            </div>
            <div class="col-6">
                {% if rawmeasurement.test_name == 'web_connectivity' %}
                    {% if rawmeasurement.test_keys.accessible %}
                        <strong><h1 class="text-center text-white"> OK </h1></strong>
                    {% else %}
                        <strong><h1 class="text-center text-white"> ? Error </h1></strong>
                    {% endif %}
                    <h3 class="text-center text-white">{{rawmeasurement.input}}</h3>
                {% endif %}
            </div>
            <div class="col-3">
                
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-3">

            </div>
            <div class="col-6">
                {% if rawmeasurement.test_name == 'web_connectivity' %}
                    {% if rawmeasurement.test_keys.accessible %}
                        <strong><h1 class="text-center text-white"> OK </h1></strong>
                    {% else %}
                        <strong><h1 class="text-center text-white"> ? Error </h1></strong>
                    {% endif %}
                    <h3 class="text-center text-white">{{rawmeasurement.input}}</h3>
                {% endif %}
            </div>
            <div class="col-3">
                
            </div>
        </div>
    </div>


{% endblock content %}

{% block custom_scripts %}

<script src="https://cdn.jsdelivr.net/npm/pretty-print-json@0.3/dist/pretty-print-json.min.js"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script>
    console.log("{{rawmeasurement.test_keys}}");
    var test_keys = $('#test-keys-detailed').text();
    $("#test-keys-detailed").jsonViewer(JSON.parse(test_keys), {
        collapsed: true,
        rootCollapsable: false
    });
    
    var annotations_detailed = $('#annotations-detailed').text();
    $("#annotations-detailed").jsonViewer(JSON.parse(annotations_detailed), {
        collapsed: true,
        rootCollapsable: false
    });

    var test_helper = $('#test-helpers-detailed').text();
    $("#test-helpers-detailed").jsonViewer(JSON.parse(test_helper), {
        collapsed: true,
        rootCollapsable: false
    });
</script>
{% endblock custom_scripts %}
