

<div class="col-5">
    <h5><strong>Tor Browser Bridges</strong></h5>
</div>
<div class="col-7">
    <h5><strong>Tor Directory Authorities</strong></h5>
</div>

<div class="col-5">
    <h2>{{ obfs4 }} OK</h2>
</div>
<div class="col-7">
    <h2>{{ dir }} OK</h2>
</div>



<div class="card rounded p-5" id="">
    <div class="table-responsive">
        <table class="table table-striped mt-5 datatable" id="detail-tor-list">
        <thead>
            <tr>
            <th class="text-center text-capitalize" scope="col">Name</th>
            <th class="text-center text-capitalize" scope="col">Address</th>
            <th class="text-center text-capitalize" scope="col">Type</th>
            <th class="text-center text-capitalize" scope="col">Connect</th>
            <th class="text-center text-capitalize" scope="col">Handshake</th>
            </tr>
        </thead>

        <tbody id='detail-tor-tbody'>
        </tbody>
            {% for key in keys %}
                <tr>
                    <td>{{ key.name }}</td>
                    <td>{{ key.address }}</td>
                    <td>{{ key.type }}</td>
                    <td>{{ key.connect }}</td>
                    <td>N/A</td>
                </tr>
            {% endfor %}
        <tfoot></tfoot>
        </table>
    </div>
</div>

