<!--
    Password email sent page
-->

{% extends 'extends/base_accounting.html' %}
{% load widget_tweaks %}

{% block tab_title %} VSF - Password reset {% endblock tab_title %}

{% block title %} Confirmation email on its way {% endblock title %}

{% block body %}
<p class="text-center">
  Check your mail box for a confirmation email
  <br />

  <i class="fas fa-paper-plane fa-5x m-4"></i>
</p>
<div class="w-100">
  <div class="d-flex align-items-center mt-4">
    <a class="btn btn-primary w-100" href="{% url 'dashboard:login' %}"
      >Go to login</a
    >
  </div>
</div>

{% endblock body %}

{% block footer %}
<div class="py-4 bg-light mt-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <small class="text-muted">
          If you don't have a valid account, you wont receive any email
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock footer %}
