{% extends 'extends/base_accounting.html' %}
{% load widget_tweaks %}

{% block tab_title %} VSF - Login {% endblock tab_title %}
{% block title %} Create a new Password {% endblock title %}

{% block body %}

<form method="post" action="{% url 'dashboard:users:user_pass_create' object.id %}">
  {% csrf_token %}

  <div class="form-group mb-3">
    <label class="floating-label" for="inputPassword">Password</label>
    {% render_field form.password1 class="form-control" id="inputPassword" type="password"  %}
  </div>

  <div class="form-group mb-3">
    <label class="floating-label" for="inputPassword">Confirm Password</label>
    {% render_field form.password2 class="form-control" id="inputPassword" type="password"  %}
  </div>

  <div class="form-group w-100 mt-4 mb-0">
    <input class="btn btn-primary w-100" type="submit" value="Save" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
</form>



{% if form.errors %}
<div class="alert alert-danger my-2">
  <strong>Error:</strong>
  <p>Unmatching passwords</p>
</div>
{% endif %}
{% endblock body %}

