<div
  class="modal fade"
  id="modalCompleteInfo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalCompleteInfoTitle"
  aria-hidden="true"
>
  <div class="modal-dialog mw-100 w-75" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="modalCompleteInfoTitle">
          Detailed Website's Report
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <h6 class='text-white'>TID</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="tid-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white'>Report ID</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="report-id-detailed"></p>
            </div>
          </div>
          
          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white'>Input</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="input-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white' >Measurement URL</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="measurement-url-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white' >Report Ready</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="report-ready-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white' >Anomaly</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="anomaly-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white'>Confirmed</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="confirmed-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white' >Failure</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="failure-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white'>Measurement Start Time</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="measurement-start-time-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white'>Catch Date</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="catch-date-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white'>Test Name</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="test-name-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white' >Probe ASN</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="probe-asn-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white' >Probe CC</h6>
            </div>
            <div class="col-8">
              <p class='text-white' id="probe-cc-detailed"></p>
            </div>
          </div>

          <div class="row border-top pt-3">
            <div class="col-4">
              <h6 class='text-white' >Scores</h6>
            </div>
            <div class="col-8">
              <pre class='text-white' id="scores-detailed"></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
