<div
  class="modal fade"
  id="modalCompleteInfo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalCompleteInfoTitle"
  aria-hidden="true"
>
  <div class="modal-dialog mw-100 w-75" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCompleteInfoTitle">
          Detailed Website's Report
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <h6>TID</h6>
            </div>
            <div class="col-8">
              <p id="tid-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Report ID</h6>
            </div>
            <div class="col-8">
              <p id="report-id-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Input</h6>
            </div>
            <div class="col-8">
              <p id="input-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Measurement URL</h6>
            </div>
            <div class="col-8">
              <p id="measurement-url-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Report Ready</h6>
            </div>
            <div class="col-8">
              <p id="report-ready-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Anomaly</h6>
            </div>
            <div class="col-8">
              <p id="anomaly-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Confirmed</h6>
            </div>
            <div class="col-8">
              <p id="confirmed-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Failure</h6>
            </div>
            <div class="col-8">
              <p id="failure-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Measurement Start Time</h6>
            </div>
            <div class="col-8">
              <p id="measurement-start-time-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Catch Date</h6>
            </div>
            <div class="col-8">
              <p id="catch-date-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Test Name</h6>
            </div>
            <div class="col-8">
              <p id="test-name-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Probe ASN</h6>
            </div>
            <div class="col-8">
              <p id="probe-asn-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Probe CC</h6>
            </div>
            <div class="col-8">
              <p id="probe-cc-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6>Scores</h6>
            </div>
            <div class="col-8">
              <pre id="scores-detailed"></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
