<div
  class="modal fade"
  id="modalMeasurementInfo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalMeasurementInfoTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalMeasurementInfoTitle">
          Detailed Website's Report
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Annotations</h6>
            </div>
            <div class="col-8">
              <pre id="annotations-detailed"></pre>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Bucket Date</h6>
            </div>
            <div class="col-8">
              <p id="bucket-date-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Data Format Version</h6>
            </div>
            <div class="col-8">
              <p id="data-format-version-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Input</h6>
            </div>
            <div class="col-8">
              <p id="input-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Measurement Start Time</h6>
            </div>
            <div class="col-8">
              <p id="measurement-start-time-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Options</h6>
            </div>
            <div class="col-8">
              <p id="options-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Probe ASN</h6>
            </div>
            <div class="col-8">
              <p id="probe-asn-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Probe CC</h6>
            </div>
            <div class="col-8">
              <p id="probe-cc-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Probe IP</h6>
            </div>
            <div class="col-8">
              <p id="probe-ip-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Report Filename</h6>
            </div>
            <div class="col-8">
              <p id="report-filename-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Report ID</h6>
            </div>
            <div class="col-8">
              <p id="report-id-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Software Name</h6>
            </div>
            <div class="col-8">
              <p id="software-name-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Software Version</h6>
            </div>
            <div class="col-8">
              <p id="software-version-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Test Helpers</h6>
            </div>
            <div class="col-8">
              <p id="test-helpers-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Test Name</h6>
            </div>
            <div class="col-8">
              <p id="test-name-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Test Runtime</h6>
            </div>
            <div class="col-8">
              <p id="test-runtime-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Test Start Time</h6>
            </div>
            <div class="col-8">
              <p id="test-start-time-detailed"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <h6 class="text-capitalize">Test Version</h6>
            </div>
            <div class="col-8">
              <p id="test-version-detailed"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
