/**************************************
 * THIS IS THE MAIN FILE FOR SCSS RULES
 **************************************/

@import "customized-template-base.scss";

@import "vsf-custom-sizes.scss";

@import "vsf-utilities.scss";

@import "vsf-datatables.scss";
