{% extends 'extends/base.html' %}
{% load static %}
{% block custom_stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/DataTables/datatables.min.css' %}" /> 
{% endblock custom_stylesheet %}

{% block tab_title %} VSF - Cases {% endblock tab_title %}
{% block title %} Cases {% endblock title %}
{% block sub_title %} List and filter all the currently available cases {% endblock sub_title %}

{% block route %}

<li class="breadcrumb-item">
  <a href="{% url home %}">Home</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'dashboard:event_cases:list_cases' %}">Cases List</a>
</li>

{% endblock route %}

{% block content %}
  <form id="urlForm">
    <nav class="navbar navbar-light bg-light mb-5">
      <div class="container-fluid">
        <div class="row">

          <div class="col-4">
            <input
            id="title"
            class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
            type="search"
            placeholder="Title"
            aria-label="Search title"
            value="{{ prefill.title }}"
            name="title"
            />
          </div>

          <div class="col-4">
            <input
            id="first_name"
            class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
            type="search"
            placeholder="Name"
            aria-label="Search first name"
            value="{{ prefill.first_name }}"
            name="first_name"
            />
          </div>

          <div class="col-4">
            <input
            id="last_name"
            class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
            type="search"
            placeholder="Last Name"
            aria-label="Search last name"
            value="{{ prefill.last_name }}"
            name="last_name"
            />
          </div>

          <div class="col-4">
            <input
            id="email"
            class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent"
            type="search"
            placeholder="Email"
            aria-label="Search Email"
            value="{{ prefill.email }}"
            name="email"
            />
          </div>

          <div class="col-4">
            <div class="row align-items-center rounded p-2 bg-info ml-1">
              <div class="col-5 mx-auto">
                <label class='font-weight-bold text-white' for="asn">
                  Role
                </label>
              </div>
              <div class="col-7 mx-auto">
                <select id="first_name" class="custom-select additional-filter" name="first_name">
                  <option value="">Any Role</option>
                  <option >Superuser</option>
                  <option >Admin</option>
                  <option >Analist</option>
                  <option >Editor</option>
                  
                </select>
              </div>
            </div> 
          </div>
          <div class="col-1 my-auto mx-auto">
            <button id="url-form-button" class="btn btn-outline-info btn-block" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div> 
      </div>   
    </nav>

    <form id="sitesForm">    
        <button type="button" class="bs-modal btn  btn-info" 
        onclick="open_create_modal('{% url 'dashboard:event_cases:add_case' %}')">Create Case</button>
      </form>

  
    <div class="card rounded p-3 mt-4" style="width: 100%;">
        <table class="table table-striped mt-5 datatable"  id="cases-table">
          <thead>
            <tr>
              <th class="text-center" scope="col">Title</th>
              <th class="text-center" scope="col">Start Date</th>
              <th class="text-center" scope="col">End Date</th>
              <th class="text-center" scope="col">Category</th>
              <th class="text-center" scope="col">Draft</th>
              <th class="text-center" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for case_object in object_list %}
            <tr>
                <td>
                    {{ case_object.title }}
                    </td>
                <td>
                    {{ case_object.start_date }}
                </td>
                <td>
                    {{ case_object.end_date }}
                </td>
                <td>
                    {{ case_object.category }}
                </td>
                <td>
                    {% if case_object.draft %}
                    <div class="text-success w-100 text-center">
                        <i class="far fa-check-circle text-success" title="User is Active"></i>
                    </div>
                    {% else %}
                    <div class="text-danger w-100 text-center">
                        <i class="far fa-check-circle text-default" title="User is Inactive"></i>
                    </div>
                    {% endif %}
                </td>
                <td>
                    <a href="">
                        <button type="button" class="btn-sm btn-info">Edit</button>
                    </a>
                    <button type="button" class="btn-sm btn-danger">Delete</button>
                </td>
                </tr>
            {% endfor %}

          </tbody>
        </table>
    </div>
  </form>

  <br>



    <div class="modal fade" id='create_case' role="dialog"></div>
    <div class="modal fade" id='edit_case' role="dialog"></div>


{% block extrajs %}
    <script type="text/javascript" src="{% static 'plugins/DataTables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

    <script type="text/javascript">
        $('#cases-table').DataTable();

        var $ = jQuery.noConflict()
    
        function open_create_modal(url){
            $('#create_case').load(url, function(){
                $(this).modal('show');
    
            });
        }
    
        function open_edit_modal(url){
            $('#edit_case').load(url, function(){
                $(this).modal('show');
    
            });
        
        }
    
    </script>
    
    {% endblock extrajs %}

{% endblock content %}